In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv('hcvnausea.csv',sep= ',')
df.head()

,Age,Gender,BMI,y1,y2,y3,y4,y5,y6,y7,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,56,1,35,2,1,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46,1,29,1,2,2,1,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,57,1,33,2,2,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49,2,33,1,2,1,2,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59,1,32,1,1,2,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Columns: 256 entries, Age  to Unnamed: 255
dtypes: float64(227), int64(29)
memory usage: 2.7 MB

## Data Cleaning

In [5]:
target = 'y2'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
#df

### Remove other targets

In [7]:
# Dropping other targets 
df = df.drop(['y1','y3','y4','y5','y6','y7'],axis=1)
df.head()

,Age,Gender,BMI,y2,WBC,RBC,HGB,Plat,AST 1,ALT 1,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,56,1,35,1,7425,4248807,14,112132,99,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46,1,29,2,12101,4429425,10,129367,91,123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,57,1,33,2,4178,4621191,12,151522,113,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49,2,33,2,6490,4794631,10,146457,43,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59,1,32,1,3661,4606375,11,187684,99,104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove bad columns

In [8]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [9]:
df = remove_bad_columns(df,100)
df.info()

number of bad columns: 227
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Data columns (total 23 columns):
Age                              1385 non-null int64
Gender                           1385 non-null int64
BMI                              1385 non-null int64
y2                               1385 non-null int64
WBC                              1385 non-null int64
RBC                              1385 non-null int64
HGB                              1385 non-null int64
Plat                             1385 non-null int64
AST 1                            1385 non-null int64
ALT 1                            1385 non-null int64
ALT4                             1385 non-null int64
ALT 12                           1385 non-null int64
ALT 24                           1385 non-null int64
ALT 36                           1385 non-null int64
ALT 48                           1385 non-null int64
ALT after 24 w                   1385 non-null int64
RNA Base                         1385 non-null int64
RNA 4                            1385 non-null int64
RNA 12                           1385 non-null int64
RNA EOT                          1385 non-null int64
RNA EF                           1385 non-null int64
Baseline histological Grading    1385 non-null int64
Baselinehistological staging     1385 non-null int64
dtypes: int64(23)
memory usage: 248.9 KB

### Remove bad rows

In [10]:
 # Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [11]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
0

We find bad rows which contain too many missing values, then remove them.

In [12]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [13]:
bad_rows = find_bad_rows(df,5)
df.info()

number of bad rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Data columns (total 23 columns):
Age                              1385 non-null int64
Gender                           1385 non-null int64
BMI                              1385 non-null int64
y2                               1385 non-null int64
WBC                              1385 non-null int64
RBC                              1385 non-null int64
HGB                              1385 non-null int64
Plat                             1385 non-null int64
AST 1                            1385 non-null int64
ALT 1                            1385 non-null int64
ALT4                             1385 non-null int64
ALT 12                           1385 non-null int64
ALT 24                           1385 non-null int64
ALT 36                           1385 non-null int64
ALT 48                           1385 non-null int64
ALT after 24 w                   1385 non-null int64
RNA Base                         1385 non-null int64
RNA 4                            1385 non-null int64
RNA 12                           1385 non-null int64
RNA EOT                          1385 non-null int64
RNA EF                           1385 non-null int64
Baseline histological Grading    1385 non-null int64
Baselinehistological staging     1385 non-null int64
dtypes: int64(23)
memory usage: 248.9 KB

In [14]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 0

### Separate target and attributes

In [15]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [16]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[  30    2   14 1305 1384    6 1375   90   90   90   90   90   91   91
   25 1384 1384 1001 1002 1004   14    4]

In [17]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [18]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [1]
i_category: [21]
variable type: [3. 1. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 2.]

### Impute missing values of attributes

In [19]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            df2[col] = df[col].fillna(df[col].median())    
    return df2

In [20]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1385 entries, 0 to 1384
Data columns (total 22 columns):
Age                              1385 non-null int64
Gender                           1385 non-null int64
BMI                              1385 non-null int64
WBC                              1385 non-null int64
RBC                              1385 non-null int64
HGB                              1385 non-null int64
Plat                             1385 non-null int64
AST 1                            1385 non-null int64
ALT 1                            1385 non-null int64
ALT4                             1385 non-null int64
ALT 12                           1385 non-null int64
ALT 24                           1385 non-null int64
ALT 36                           1385 non-null int64
ALT 48                           1385 non-null int64
ALT after 24 w                   1385 non-null int64
RNA Base                         1385 non-null int64
RNA 4                            1385 non-null int64
RNA 12                           1385 non-null int64
RNA EOT                          1385 non-null int64
RNA EF                           1385 non-null int64
Baseline histological Grading    1385 non-null int64
Baselinehistological staging     1385 non-null int64
dtypes: int64(22)
memory usage: 248.9 KB

## Data Processing

### Attributes

In [21]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [22]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(1385, 25)
[[56. -1. 35. ...  1.  0.  0.]
 [46. -1. 29. ...  1.  0.  0.]
 [57. -1. 33. ...  0.  0.  1.]
 ...
 [42. -1. 26. ...  1.  0.  0.]
 [52. -1. 29. ...  0.  1.  0.]
 [55.  1. 26. ...  0.  1.  0.]]

### Target

In [23]:
y = np.array(dfy)
print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
#y_new = y
y_new = np.ones(y.shape[0])
y_new[y ==2] = 0

print(np.unique(y_new,return_counts=True))

(array([1, 2]), array([689, 696]))
(array([0., 1.]), array([696, 689]))

In [24]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('hcvnausea_processed.dat',xy_new,fmt='%f')