In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv('survival.csv',sep= ',')
df.head()

,studyid,site,gender,age,agecat,race_ethnicity,maritalstatus,education,lowhealthliteracy,employment status,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,10000,Massachusetts,Male,60,>=55-<65,NHW,Married,College Graduate,No,Employed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10007,Massachusetts,Male,61,>=55-<65,NHW,Married,Some college,Yes,Unemployed/retired,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10012,Massachusetts,Male,56,>=55-<65,NHW,Not Married,High School or less,Yes,Unemployed/retired,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10013,Massachusetts,Male,48,<55,NHW,Not Married,High School or less,No,Employed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10020,Massachusetts,Male,49,<55,NHW,Not Married,High School or less,No,Unemployed/retired,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
x = df['depression']

In [5]:
x1 = np.array(x)

In [6]:
x1[15:20]

array(['Severe', 'Moderately severe', nan, 'Moderate', 'Moderate'],
      dtype=object)

In [14]:
x[15:20]

15               Severe
16    Moderately severe
17                  NaN
18             Moderate
19             Moderate
Name: depression, dtype: object