In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv("coag.csv")
df.head()

,NO,Y,Sex 1.Male 2.Female,Age,Before treatment,Severity 1.mild/moderate 2.severe,PT,Platelet,FDP,SIRS_t1,...,SOFA cardiovascular 0-1-2,SOFA CNS,SOFA renal,SOFA renal 0-1-2,Total SOFA (4 items),SIC score (PT+PLT),SIC score（PT+PLT+ Total SOFA）,SIC 1.positive 2.negative,Unnamed: 27,Unnamed: 28
0,1,1,1,72.0,1,2,1.17,41.0,17.0,2,...,2.0,NaN,0,NaN,5,2,4,2,NaN,NaN
1,2,1,2,76.0,1,2,1.95,23.0,18.7,3,...,2.0,3.0,2,2.0,8,4,6,1,NaN,NaN
2,3,2,1,93.0,2,2,1.83,57.0,22.9,3,...,NaN,3.0,0,NaN,2,4,6,1,NaN,NaN
3,4,1,2,76.0,2,2,1.23,66.0,23.4,2,...,2.0,4.0,4,2.0,8,3,5,1,NaN,NaN
4,5,1,1,76.0,2,2,1.08,44.0,3.9,4,...,1.0,2.0,3,2.0,3,2,4,2,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 29 columns):
NO                                        1498 non-null int64
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
PT                                        1498 non-null object
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
respiratory
0-1-2                    1262 non-null float64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
hepatic
0-1-2                        783 non-null float64
SOFA
cardiovascular                       1498 non-null int64
SOFA
cardiovascular
0-1-2                 1128 non-null float64
SOFA
CNS                                  1160 non-null float64
SOFA
renal                                1498 non-null int64
SOFA
renal
0-1-2                          894 non-null float64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
Unnamed: 27                               0 non-null float64
Unnamed: 28                               0 non-null float64
dtypes: float64(10), int64(18), object(1)
memory usage: 339.5+ KB

## Data Cleaning

In [5]:
target = 'Y'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
df = df.replace('#NULL!',np.nan,regex=True)
#df = df.replace('99',np.nan,regex=True)
#df = df.replace(99,np.nan,regex=True)
#df

### Remove outliers

In [7]:
# Drop the column outliers as it is unrelated to the dependent variable
outliers = ['NO','PT']
df = df.drop(outliers,axis=1)
df.head()

,Y,Sex 1.Male 2.Female,Age,Before treatment,Severity 1.mild/moderate 2.severe,Platelet,FDP,SIRS_t1,SIRS 3 or more 1. positive 2. negative,JAAM DIC score,...,SOFA cardiovascular 0-1-2,SOFA CNS,SOFA renal,SOFA renal 0-1-2,Total SOFA (4 items),SIC score (PT+PLT),SIC score（PT+PLT+ Total SOFA）,SIC 1.positive 2.negative,Unnamed: 27,Unnamed: 28
0,1,1,72.0,1,2,41.0,17.0,2,2,4,...,2.0,NaN,0,NaN,5,2,4,2,NaN,NaN
1,1,2,76.0,1,2,23.0,18.7,3,1,6,...,2.0,3.0,2,2.0,8,4,6,1,NaN,NaN
2,2,1,93.0,2,2,57.0,22.9,3,1,6,...,NaN,3.0,0,NaN,2,4,6,1,NaN,NaN
3,1,2,76.0,2,2,66.0,23.4,2,2,5,...,2.0,4.0,4,2.0,8,3,5,1,NaN,NaN
4,1,1,76.0,2,2,44.0,3.9,4,1,4,...,1.0,2.0,3,2.0,3,2,4,2,NaN,NaN

### Remove bad columns

In [8]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [9]:
df = remove_bad_columns(df,200)
df.info()

number of bad columns: 7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 20 columns):
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
cardiovascular                       1498 non-null int64
SOFA
renal                                1498 non-null int64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
dtypes: float64(3), int64(17)
memory usage: 234.1 KB

### Remove bad rows

In [10]:
 # Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [11]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
0

We find bad rows which contain too many missing values, then remove them.

In [12]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [13]:
bad_rows = find_bad_rows(df,5)
df.info()

number of bad rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 20 columns):
Y                                         1498 non-null int64
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1494 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1303 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
cardiovascular                       1498 non-null int64
SOFA
renal                                1498 non-null int64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
dtypes: float64(3), int64(17)
memory usage: 234.1 KB

In [14]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 0

### Separate target and attributes

In [15]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [16]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[  2  97   2   2 236 688   5   2   9   2   5   5   5   5   5   9   5   7
   2]

In [17]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [18]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [0, 2, 3, 7, 9, 18]
i_category: []
variable type: [1. 3. 1. 1. 3. 3. 3. 1. 3. 1. 3. 3. 3. 3. 3. 3. 3. 3. 1.]

### Impute missing values of attributes

In [19]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            df2[col] = df[col].fillna(df[col].median())    
    return df2

In [20]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1498 entries, 0 to 1497
Data columns (total 19 columns):
Sex
1.Male
2.Female                       1498 non-null int64
Age                                       1498 non-null float64
Before
treatment                          1498 non-null int64
Severity
1.mild/moderate
2.severe         1498 non-null int64
Platelet                                  1498 non-null float64
FDP                                       1498 non-null float64
SIRS_t1                                   1498 non-null int64
SIRS
3 or more
1. positive
2. negative    1498 non-null int64
JAAM DIC
score                            1498 non-null int64
JAAM
DIC
1.positive
2.negative            1498 non-null int64
SOFA
respiratory                          1498 non-null int64
SOFA
coagulation                          1498 non-null int64
SOFA
hepatic                              1498 non-null int64
SOFA
cardiovascular                       1498 non-null int64
SOFA
renal                                1498 non-null int64
Total SOFA
(4 items)                      1498 non-null int64
SIC score
(PT+PLT)                        1498 non-null int64
SIC score（PT+PLT+
 Total SOFA）            1498 non-null int64
SIC
1.positive
2.negative                 1498 non-null int64
dtypes: float64(3), int64(16)
memory usage: 234.1 KB

## Data Processing

### Attributes

In [21]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [22]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(1498, 19)
[[-1. 72. -1. ...  2.  4.  1.]
 [ 1. 76. -1. ...  4.  6. -1.]
 [-1. 93.  1. ...  4.  6. -1.]
 ...
 [-1. 65. -1. ...  2.  4.  1.]
 [-1. 80. -1. ...  4.  6. -1.]
 [-1. 82. -1. ...  4.  6. -1.]]

### Target

In [23]:
y = np.array(dfy)
#print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
#y_new = y

y_new = np.ones(y.shape[0])
y_new[y == 2] = 0

print(np.unique(y_new,return_counts=True))

(array([0., 1.]), array([504, 994]))

In [24]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('data_processed.dat',xy_new,fmt='%f')