In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv("smoking.csv")
df.head()

,age,gender,A1,A2_completed_education,A3,A4,A5,A6,A7,A8,...,Low,Middle,High,Not_applicable,Smoke_daily,Smoke_less_then_daily,Smoked_in_the_past,Never_smoker,a62_income,a4_smoking_status
0,35,2,1,2,2,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,34,1,4,3,3,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
3,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
4,35,2,2,3,3,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Columns: 119 entries, age to a4_smoking_status
dtypes: float64(49), int64(70)
memory usage: 1.4 MB

## Data Cleaning

In [5]:
target = 'healthstatus3'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
df = df.replace('#NULL!',np.nan,regex=True)
df = df.replace('99',np.nan,regex=True)
df = df.replace(99,np.nan,regex=True)
#df

### Remove outliers

In [7]:
# Drop the column outliers as it is unrelated to the dependent variable
outliers = []
df = df.drop(outliers,axis=1)
df.head()

,age,gender,A1,A2_completed_education,A3,A4,A5,A6,A7,A8,...,Low,Middle,High,Not_applicable,Smoke_daily,Smoke_less_then_daily,Smoked_in_the_past,Never_smoker,a62_income,a4_smoking_status
0,35,2,1,2,2,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,34,1,4,3,3,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
3,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
4,35,2,2,3,3,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0

### Remove bad columns

In [8]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [9]:
df = remove_bad_columns(df,200)
df.info()

number of bad columns: 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 96 columns):
age                             1588 non-null int64
gender                          1588 non-null int64
A1                              1588 non-null int64
A2_completed_education          1588 non-null int64
A3                              1588 non-null int64
A4                              1588 non-null int64
A9                              1571 non-null float64
A16                             1587 non-null float64
A17                             1587 non-null float64
A18                             1588 non-null int64
A19                             1588 non-null int64
A20                             1588 non-null int64
A21                             1556 non-null float64
A22                             1585 non-null float64
A23                             1588 non-null int64
A24                             1588 non-null int64
A25                             1588 non-null int64
A26                             1497 non-null float64
A30                             1536 non-null float64
A31                             1548 non-null float64
A32                             1552 non-null float64
A33                             1524 non-null float64
A34                             1554 non-null float64
A35                             1547 non-null float64
A37                             1528 non-null float64
A38                             1521 non-null float64
A39                             1535 non-null float64
A40                             1540 non-null float64
A46                             1567 non-null float64
A47                             1567 non-null float64
A48                             1546 non-null float64
A49                             1570 non-null float64
A50                             1571 non-null float64
A51                             1567 non-null float64
A52                             1558 non-null float64
A53                             1559 non-null float64
A54                             1570 non-null float64
A55                             1572 non-null float64
A56                             1563 non-null float64
A57                             1565 non-null float64
A58                             1512 non-null float64
A59                             1553 non-null float64
A60                             1588 non-null int64
A61                             1588 non-null int64
A62                             1569 non-null float64
A67                             1557 non-null float64
A68                             1558 non-null float64
A69                             1488 non-null float64
agecatage                       1588 non-null int64
maritalstatusa1                 1588 non-null int64
Regiona61                       1588 non-null int64
healthstatus3                   1588 non-null int64
Sales_rest                      1588 non-null int64
Sales_rest_category             1588 non-null int64
Sales_rest_category_Negative    1588 non-null int64
Sales_rest_category_low         1588 non-null int64
Sales_rest_category_high        1588 non-null int64
SalesHighSupport                1588 non-null int64
A55_a                           1571 non-null float64
A56_a                           1563 non-null float64
A57_a                           1565 non-null float64
A58_a                           1512 non-null float64
A38_valid                       1521 non-null float64
bb                              1588 non-null int64
A38_rec                         1588 non-null int64
A39_rec                         1588 non-null int64
A40_rec                         1588 non-null int64
A55_rec                         1588 non-null int64
A56_rec                         1588 non-null int64
A57_rec                         1588 non-null int64
A58_rec                         1588 non-null int64
A59_rec                         1588 non-null int64
II_STATIA                       1574 non-null float64
filter_$                        1588 non-null int64
attit2                          1588 non-null int64
support0_8                      1574 non-null float64
age_13_25                       1574 non-null float64
age_26_35                       1574 non-null float64
age_36_45                       1574 non-null float64
age_46_55                       1574 non-null float64
age_56_70                       1574 non-null float64
female                          1574 non-null float64
male                            1574 non-null float64
Primary_or_Secondary            1574 non-null float64
Middle_college                  1574 non-null float64
University                      1574 non-null float64
Low                             1574 non-null float64
Middle                          1574 non-null float64
High                            1574 non-null float64
Not_applicable                  1574 non-null float64
Smoke_daily                     1574 non-null float64
Smoke_less_then_daily           1574 non-null float64
Smoked_in_the_past              1574 non-null float64
Never_smoker                    1574 non-null float64
a62_income                      1569 non-null float64
a4_smoking_status               1588 non-null float64
dtypes: float64(61), int64(35)
memory usage: 1.2 MB

### Remove bad rows

In [10]:
 # Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [11]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
0

We find bad rows which contain too many missing values, then remove them.

In [12]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [13]:
bad_rows = find_bad_rows(df,10)
df.info()

number of bad rows: 14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 96 columns):
age                             1588 non-null int64
gender                          1588 non-null int64
A1                              1588 non-null int64
A2_completed_education          1588 non-null int64
A3                              1588 non-null int64
A4                              1588 non-null int64
A9                              1571 non-null float64
A16                             1587 non-null float64
A17                             1587 non-null float64
A18                             1588 non-null int64
A19                             1588 non-null int64
A20                             1588 non-null int64
A21                             1556 non-null float64
A22                             1585 non-null float64
A23                             1588 non-null int64
A24                             1588 non-null int64
A25                             1588 non-null int64
A26                             1497 non-null float64
A30                             1536 non-null float64
A31                             1548 non-null float64
A32                             1552 non-null float64
A33                             1524 non-null float64
A34                             1554 non-null float64
A35                             1547 non-null float64
A37                             1528 non-null float64
A38                             1521 non-null float64
A39                             1535 non-null float64
A40                             1540 non-null float64
A46                             1567 non-null float64
A47                             1567 non-null float64
A48                             1546 non-null float64
A49                             1570 non-null float64
A50                             1571 non-null float64
A51                             1567 non-null float64
A52                             1558 non-null float64
A53                             1559 non-null float64
A54                             1570 non-null float64
A55                             1572 non-null float64
A56                             1563 non-null float64
A57                             1565 non-null float64
A58                             1512 non-null float64
A59                             1553 non-null float64
A60                             1588 non-null int64
A61                             1588 non-null int64
A62                             1569 non-null float64
A67                             1557 non-null float64
A68                             1558 non-null float64
A69                             1488 non-null float64
agecatage                       1588 non-null int64
maritalstatusa1                 1588 non-null int64
Regiona61                       1588 non-null int64
healthstatus3                   1588 non-null int64
Sales_rest                      1588 non-null int64
Sales_rest_category             1588 non-null int64
Sales_rest_category_Negative    1588 non-null int64
Sales_rest_category_low         1588 non-null int64
Sales_rest_category_high        1588 non-null int64
SalesHighSupport                1588 non-null int64
A55_a                           1571 non-null float64
A56_a                           1563 non-null float64
A57_a                           1565 non-null float64
A58_a                           1512 non-null float64
A38_valid                       1521 non-null float64
bb                              1588 non-null int64
A38_rec                         1588 non-null int64
A39_rec                         1588 non-null int64
A40_rec                         1588 non-null int64
A55_rec                         1588 non-null int64
A56_rec                         1588 non-null int64
A57_rec                         1588 non-null int64
A58_rec                         1588 non-null int64
A59_rec                         1588 non-null int64
II_STATIA                       1574 non-null float64
filter_$                        1588 non-null int64
attit2                          1588 non-null int64
support0_8                      1574 non-null float64
age_13_25                       1574 non-null float64
age_26_35                       1574 non-null float64
age_36_45                       1574 non-null float64
age_46_55                       1574 non-null float64
age_56_70                       1574 non-null float64
female                          1574 non-null float64
male                            1574 non-null float64
Primary_or_Secondary            1574 non-null float64
Middle_college                  1574 non-null float64
University                      1574 non-null float64
Low                             1574 non-null float64
Middle                          1574 non-null float64
High                            1574 non-null float64
Not_applicable                  1574 non-null float64
Smoke_daily                     1574 non-null float64
Smoke_less_then_daily           1574 non-null float64
Smoked_in_the_past              1574 non-null float64
Never_smoker                    1574 non-null float64
a62_income                      1569 non-null float64
a4_smoking_status               1588 non-null float64
dtypes: float64(61), int64(35)
memory usage: 1.2 MB

In [14]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 14

### Separate target and attributes

In [15]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [16]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[  58    2    5    3    5    4    5    2    2    2    2    2    2    3
    3    3    3    5    2    2    2    3    2    2    2    2    2    2
    7    8    2    2    2    2    2    2    2    3    3    3    3    2
 1565   10    3    2    2    2    5    2    3    7    3    2    2    2
    2    2    2    2    2    2    4    2    2    2    2    2    2    2
    2    9    2    9    2    2    2    2    2    2    2    2    2    2
    2    2    2    2    2    2    2    2    2    3    4]

In [17]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [18]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [1, 7, 8, 9, 10, 11, 12, 18, 19, 20, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 41, 45, 46, 47, 49, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92]
i_category: [3, 5, 13, 14, 15, 16, 21, 37, 38, 39, 40, 44, 50, 52, 62, 93, 94]
variable type: [3. 1. 3. 2. 3. 2. 3. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 3. 1. 1. 1. 2. 1. 1.
 1. 1. 1. 1. 3. 3. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 1. 3. 3. 2. 1. 1. 1.
 3. 1. 2. 3. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 3.
 1. 3. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 2.]

### Impute missing values of attributes

In [19]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            df2[col] = df[col].fillna(df[col].median())    
    return df2

In [20]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1574 entries, 0 to 1573
Data columns (total 95 columns):
age                             1574 non-null int64
gender                          1574 non-null int64
A1                              1574 non-null int64
A2_completed_education          1574 non-null int64
A3                              1574 non-null int64
A4                              1574 non-null int64
A9                              1574 non-null float64
A16                             1574 non-null float64
A17                             1574 non-null float64
A18                             1574 non-null int64
A19                             1574 non-null int64
A20                             1574 non-null int64
A21                             1574 non-null float64
A22                             1574 non-null float64
A23                             1574 non-null int64
A24                             1574 non-null int64
A25                             1574 non-null int64
A26                             1574 non-null float64
A30                             1574 non-null float64
A31                             1574 non-null float64
A32                             1574 non-null float64
A33                             1574 non-null float64
A34                             1574 non-null float64
A35                             1574 non-null float64
A37                             1574 non-null float64
A38                             1574 non-null float64
A39                             1574 non-null float64
A40                             1574 non-null float64
A46                             1574 non-null float64
A47                             1574 non-null float64
A48                             1574 non-null float64
A49                             1574 non-null float64
A50                             1574 non-null float64
A51                             1574 non-null float64
A52                             1574 non-null float64
A53                             1574 non-null float64
A54                             1574 non-null float64
A55                             1574 non-null float64
A56                             1574 non-null float64
A57                             1574 non-null float64
A58                             1574 non-null float64
A59                             1574 non-null float64
A60                             1574 non-null int64
A61                             1574 non-null int64
A62                             1574 non-null float64
A67                             1574 non-null float64
A68                             1574 non-null float64
A69                             1574 non-null float64
agecatage                       1574 non-null int64
maritalstatusa1                 1574 non-null int64
Regiona61                       1574 non-null int64
Sales_rest                      1574 non-null int64
Sales_rest_category             1574 non-null int64
Sales_rest_category_Negative    1574 non-null int64
Sales_rest_category_low         1574 non-null int64
Sales_rest_category_high        1574 non-null int64
SalesHighSupport                1574 non-null int64
A55_a                           1574 non-null float64
A56_a                           1574 non-null float64
A57_a                           1574 non-null float64
A58_a                           1574 non-null float64
A38_valid                       1574 non-null float64
bb                              1574 non-null int64
A38_rec                         1574 non-null int64
A39_rec                         1574 non-null int64
A40_rec                         1574 non-null int64
A55_rec                         1574 non-null int64
A56_rec                         1574 non-null int64
A57_rec                         1574 non-null int64
A58_rec                         1574 non-null int64
A59_rec                         1574 non-null int64
II_STATIA                       1574 non-null float64
filter_$                        1574 non-null int64
attit2                          1574 non-null int64
support0_8                      1574 non-null float64
age_13_25                       1574 non-null float64
age_26_35                       1574 non-null float64
age_36_45                       1574 non-null float64
age_46_55                       1574 non-null float64
age_56_70                       1574 non-null float64
female                          1574 non-null float64
male                            1574 non-null float64
Primary_or_Secondary            1574 non-null float64
Middle_college                  1574 non-null float64
University                      1574 non-null float64
Low                             1574 non-null float64
Middle                          1574 non-null float64
High                            1574 non-null float64
Not_applicable                  1574 non-null float64
Smoke_daily                     1574 non-null float64
Smoke_less_then_daily           1574 non-null float64
Smoked_in_the_past              1574 non-null float64
Never_smoker                    1574 non-null float64
a62_income                      1574 non-null float64
a4_smoking_status               1574 non-null float64
dtypes: float64(61), int64(34)
memory usage: 1.2 MB

## Data Processing

### Attributes

In [21]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [22]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(1574, 132)
[[35.  1.  1. ...  0.  0.  0.]
 [34. -1.  4. ...  0.  0.  0.]
 [37.  1.  3. ...  0.  0.  0.]
 ...
 [28. -1.  4. ...  0.  0.  1.]
 [29. -1.  2. ...  1.  0.  0.]
 [47.  1.  1. ...  0.  0.  0.]]

### Target

In [23]:
y = np.array(dfy)
#print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
y_new = y
#y_new = np.ones(y.shape[0])
#y_new[y =='No'] = 0

print(np.unique(y_new,return_counts=True))

(array([0, 1]), array([852, 722]))

In [24]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('data_processed.dat',xy_new,fmt='%f')