In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv('diabetes.csv',sep= ',')
df.head()

,ID #,Group,Gender,Tanner,Puberty,Race,ISF @ R,Ideal BG @ R,ICR at R,Final ISF@9mo,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0.006,0,F,5,1,White,15,130,5,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.020,0,F,5,1,White,50,120,5,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.002,0,F,5,1,White,20,120,5,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.015,0,F,5,1,White,30,120,4,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.011,0,M,4,0,White,25,120,5,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Columns: 256 entries, ID # to Unnamed: 255
dtypes: float64(233), int64(17), object(6)
memory usage: 56.1+ KB

## Data Cleaning

In [5]:
target = 'AN'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
#df

### Delete outliers

In [7]:
# Drop the column that isn't in terms of data that can be processed by the code
df = df.drop(['BMI % -3 mo'],axis=1)
df.head()

,ID #,Group,Gender,Tanner,Puberty,Race,ISF @ R,Ideal BG @ R,ICR at R,Final ISF@9mo,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0.006,0,F,5,1,White,15,130,5,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.020,0,F,5,1,White,50,120,5,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.002,0,F,5,1,White,20,120,5,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.015,0,F,5,1,White,30,120,4,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.011,0,M,4,0,White,25,120,5,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Convert objects to numerical variables

In [8]:
print(np.dtype(df['Gender']))

df["Gender"] = pd.to_numeric(df.Gender, errors='coerce')

object

In [9]:
print(np.dtype(df['Race']))

df["Race"] = pd.to_numeric(df.Race, errors='coerce')

object

In [10]:
print(np.dtype(df['Insulin0mo']))

df["Insulin0mo"] = pd.to_numeric(df.Insulin0mo, errors='coerce')

object

In [11]:
print(np.dtype(df['FamilyHxofT2D']))

df["FamilyHxofT2D"] = pd.to_numeric(df.FamilyHxofT2D, errors='coerce')

object

In [12]:
print(np.dtype(df['Antibodies']))

df["Antibodies"] = pd.to_numeric(df.Antibodies, errors='coerce')

object

### Remove bad columns

In [13]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [14]:
df = remove_bad_columns(df,8)
df.info()

number of bad columns: 186
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 69 columns):
ID #                   28 non-null float64
Group                  28 non-null int64
Tanner                 28 non-null int64
Puberty                28 non-null int64
ISF @ R                28 non-null int64
Ideal BG @ R           28 non-null int64
ICR at R               28 non-null int64
Final ISF@9mo          28 non-null int64
Final Ideal BG@9mo     28 non-null int64
Final ICR@9mo          28 non-null int64
Dx Duration            28 non-null float64
Age                    28 non-null float64
Avg FBS -3 mo          28 non-null int64
Avg FBS mg/dL 0 mo     28 non-null int64
Avg FBS mmol/L 0 mo    28 non-null float64
Ht (cm) -3 mo          28 non-null float64
Ht SDS -3 mo           27 non-null float64
Date 3 mo              26 non-null float64
Age @ 3 mo             27 non-null float64
Ht 0 mo                28 non-null float64
Ht SDS 0 mo            27 non-null float64
Wt (kg) -3 mo          28 non-null float64
Wt SDS -3 mo           27 non-null float64
Wt  0 mo               28 non-null float64
Wt SDS 0 mo            27 non-null float64
BMI -3 mo              28 non-null float64
BMI SDS -3 mo          28 non-null float64
BMI 0 mo               28 non-null float64
BMI SDS 0 mo           28 non-null float64
WC  at -3mo (cm)       25 non-null float64
WC at 0 mo             27 non-null float64
TDD a -3 mo            27 non-null float64
TDD -3 kg              27 non-null float64
TDD at 0 mo            28 non-null int64
TDD 0 kg               28 non-null float64
Levemir -3 mo          27 non-null float64
Levemir -3 kg          27 non-null float64
Levemir 0 mo           28 non-null int64
Levemir 0 kg           28 non-null float64
Novolog -3 mo          27 non-null float64
Novolog -3 kg          27 non-null float64
Novolog 0 mo           28 non-null int64
Novolog 0 kg           28 non-null float64
A1c -3 mo              28 non-null float64
IFCC -3mo              28 non-null float64
A1c 0 mo               28 non-null float64
IFCC 0 mo              28 non-null float64
AN                     28 non-null int64
SBP 0 mo               28 non-null int64
DBP 0 mo               28 non-null int64
Ht (cm) +3 mo          25 non-null float64
Wt (kg) +3 mo          25 non-null float64
BMI +3 mo              25 non-null float64
WC (cm) +3mo           23 non-null float64
SBP +3 mo              25 non-null float64
DBP +3 mo              25 non-null float64
A1c +3m                28 non-null float64
IFCC +3 mo             28 non-null float64
TDD +3 mo              24 non-null float64
TDD +3 kg              24 non-null float64
Levemir +3 mo          25 non-null float64
Levemir +3 mo kg       24 non-null float64
Novolog +3 mo          24 non-null float64
Novolog +3 mo kg       24 non-null float64
FBS +3 mo              25 non-null float64
A1c +6m                28 non-null float64
IFCC +6mo              28 non-null float64
A1c +9m                28 non-null float64
IFCC +9mo              28 non-null float64
dtypes: float64(52), int64(17)
memory usage: 15.2 KB

### Remove bad rows

In [15]:
 # Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [16]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
0

We find bad rows which contain too many missing values, then remove them.

In [17]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [18]:
bad_rows = find_bad_rows(df,5)
df.info()

number of bad rows: 6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 69 columns):
ID #                   28 non-null float64
Group                  28 non-null int64
Tanner                 28 non-null int64
Puberty                28 non-null int64
ISF @ R                28 non-null int64
Ideal BG @ R           28 non-null int64
ICR at R               28 non-null int64
Final ISF@9mo          28 non-null int64
Final Ideal BG@9mo     28 non-null int64
Final ICR@9mo          28 non-null int64
Dx Duration            28 non-null float64
Age                    28 non-null float64
Avg FBS -3 mo          28 non-null int64
Avg FBS mg/dL 0 mo     28 non-null int64
Avg FBS mmol/L 0 mo    28 non-null float64
Ht (cm) -3 mo          28 non-null float64
Ht SDS -3 mo           27 non-null float64
Date 3 mo              26 non-null float64
Age @ 3 mo             27 non-null float64
Ht 0 mo                28 non-null float64
Ht SDS 0 mo            27 non-null float64
Wt (kg) -3 mo          28 non-null float64
Wt SDS -3 mo           27 non-null float64
Wt  0 mo               28 non-null float64
Wt SDS 0 mo            27 non-null float64
BMI -3 mo              28 non-null float64
BMI SDS -3 mo          28 non-null float64
BMI 0 mo               28 non-null float64
BMI SDS 0 mo           28 non-null float64
WC  at -3mo (cm)       25 non-null float64
WC at 0 mo             27 non-null float64
TDD a -3 mo            27 non-null float64
TDD -3 kg              27 non-null float64
TDD at 0 mo            28 non-null int64
TDD 0 kg               28 non-null float64
Levemir -3 mo          27 non-null float64
Levemir -3 kg          27 non-null float64
Levemir 0 mo           28 non-null int64
Levemir 0 kg           28 non-null float64
Novolog -3 mo          27 non-null float64
Novolog -3 kg          27 non-null float64
Novolog 0 mo           28 non-null int64
Novolog 0 kg           28 non-null float64
A1c -3 mo              28 non-null float64
IFCC -3mo              28 non-null float64
A1c 0 mo               28 non-null float64
IFCC 0 mo              28 non-null float64
AN                     28 non-null int64
SBP 0 mo               28 non-null int64
DBP 0 mo               28 non-null int64
Ht (cm) +3 mo          25 non-null float64
Wt (kg) +3 mo          25 non-null float64
BMI +3 mo              25 non-null float64
WC (cm) +3mo           23 non-null float64
SBP +3 mo              25 non-null float64
DBP +3 mo              25 non-null float64
A1c +3m                28 non-null float64
IFCC +3 mo             28 non-null float64
TDD +3 mo              24 non-null float64
TDD +3 kg              24 non-null float64
Levemir +3 mo          25 non-null float64
Levemir +3 mo kg       24 non-null float64
Novolog +3 mo          24 non-null float64
Novolog +3 mo kg       24 non-null float64
FBS +3 mo              25 non-null float64
A1c +6m                28 non-null float64
IFCC +6mo              28 non-null float64
A1c +9m                28 non-null float64
IFCC +9mo              28 non-null float64
dtypes: float64(52), int64(17)
memory usage: 15.2 KB

In [19]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 6

### Separate target and attributes

In [20]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [21]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[22  2  4  2  5  5  8  5  6  8 21 22 20 21 21 19 22 21 21 22 22 22 22 21
 22 22 22 22 19 20 21 19 22 22 22 16 22 20 22 20 22 17 22 18 18 15 15 18
 17 20 21 22 18 16 14 14 14 21 20 16 20 17 20 19 16 16 18 18]

In [22]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [23]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [1, 3]
i_category: [2]
variable type: [3. 1. 2. 1. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.
 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.
 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.]

### Impute missing values of attributes

In [24]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            df2[col] = df[col].fillna(df[col].median())    
    return df2

In [25]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 26
Data columns (total 68 columns):
ID #                   22 non-null float64
Group                  22 non-null int64
Tanner                 22 non-null int64
Puberty                22 non-null int64
ISF @ R                22 non-null int64
Ideal BG @ R           22 non-null int64
ICR at R               22 non-null int64
Final ISF@9mo          22 non-null int64
Final Ideal BG@9mo     22 non-null int64
Final ICR@9mo          22 non-null int64
Dx Duration            22 non-null float64
Age                    22 non-null float64
Avg FBS -3 mo          22 non-null int64
Avg FBS mg/dL 0 mo     22 non-null int64
Avg FBS mmol/L 0 mo    22 non-null float64
Ht (cm) -3 mo          22 non-null float64
Ht SDS -3 mo           22 non-null float64
Date 3 mo              22 non-null float64
Age @ 3 mo             22 non-null float64
Ht 0 mo                22 non-null float64
Ht SDS 0 mo            22 non-null float64
Wt (kg) -3 mo          22 non-null float64
Wt SDS -3 mo           22 non-null float64
Wt  0 mo               22 non-null float64
Wt SDS 0 mo            22 non-null float64
BMI -3 mo              22 non-null float64
BMI SDS -3 mo          22 non-null float64
BMI 0 mo               22 non-null float64
BMI SDS 0 mo           22 non-null float64
WC  at -3mo (cm)       22 non-null float64
WC at 0 mo             22 non-null float64
TDD a -3 mo            22 non-null float64
TDD -3 kg              22 non-null float64
TDD at 0 mo            22 non-null int64
TDD 0 kg               22 non-null float64
Levemir -3 mo          22 non-null float64
Levemir -3 kg          22 non-null float64
Levemir 0 mo           22 non-null int64
Levemir 0 kg           22 non-null float64
Novolog -3 mo          22 non-null float64
Novolog -3 kg          22 non-null float64
Novolog 0 mo           22 non-null int64
Novolog 0 kg           22 non-null float64
A1c -3 mo              22 non-null float64
IFCC -3mo              22 non-null float64
A1c 0 mo               22 non-null float64
IFCC 0 mo              22 non-null float64
SBP 0 mo               22 non-null int64
DBP 0 mo               22 non-null int64
Ht (cm) +3 mo          22 non-null float64
Wt (kg) +3 mo          22 non-null float64
BMI +3 mo              22 non-null float64
WC (cm) +3mo           22 non-null float64
SBP +3 mo              22 non-null float64
DBP +3 mo              22 non-null float64
A1c +3m                22 non-null float64
IFCC +3 mo             22 non-null float64
TDD +3 mo              22 non-null float64
TDD +3 kg              22 non-null float64
Levemir +3 mo          22 non-null float64
Levemir +3 mo kg       22 non-null float64
Novolog +3 mo          22 non-null float64
Novolog +3 mo kg       22 non-null float64
FBS +3 mo              22 non-null float64
A1c +6m                22 non-null float64
IFCC +6mo              22 non-null float64
A1c +9m                22 non-null float64
IFCC +9mo              22 non-null float64
dtypes: float64(52), int64(16)
memory usage: 11.9 KB

## Data Processing

### Attributes

In [26]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [27]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(22, 71)
[[ 6.0000e-03 -1.0000e+00  0.0000e+00 ...  7.7040e+01  8.8000e+00
   7.2670e+01]
 [ 2.0000e-02 -1.0000e+00  0.0000e+00 ...  6.7210e+01  8.1000e+00
   6.5020e+01]
 [ 1.5000e-02 -1.0000e+00  0.0000e+00 ...  6.8300e+01  8.3000e+00
   6.7210e+01]
 ...
 [ 1.3000e-02  1.0000e+00  0.0000e+00 ...  6.2830e+01  7.8000e+00
   6.1740e+01]
 [ 3.0000e-03  1.0000e+00  0.0000e+00 ...  6.6110e+01  1.0000e+01
   8.5790e+01]
 [ 1.8000e-02  1.0000e+00  0.0000e+00 ...  1.0328e+02  1.4400e+01
   1.3389e+02]]

### Target

In [28]:
y = np.array(dfy)
print(np.unique(y,return_counts=True))

# convert target to 0 and 1
#y_new = np.ones(y.shape[0])
#y_new[y =='Neg'] = 0

# if target is already 0 and 1
y_new = y #and delete lines below convert  
print(np.unique(y_new,return_counts=True))

(array([0, 1]), array([13,  9]))
(array([0, 1]), array([13,  9]))

In [29]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('diabetes_processed.dat',xy_new,fmt='%f')