In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv("heat.csv")
df.head()

,Sex_1male_2female,Age,Weather_1sunny_2cloudy_3rainy_4missing,Location_1outdoor_indoor,Functionaldependency_1notdisable_2disable,HT,HeartDisease,Pscyco,DM,CerevD,...,Plt,BUN,Cre,AST,ALT,CK,CRP,Admission1,ICU,Deadtodischarge
0,1.0,24.0,3.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,...,23.2,17.0,1.69,29.0,48.0,506.0,17.4,1.0,NaN,NaN
1,NaN,43.0,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,...,24.3,23.1,3.08,36.0,35.0,883.0,0.46,1.0,NaN,NaN
2,1.0,58.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,31.2,19.4,1.42,33.0,16.0,815.0,0.16,1.0,NaN,NaN
3,1.0,46.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,33.3,32.9,4.20,33.0,54.0,173.0,1,1.0,NaN,NaN
4,1.0,57.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,14.1,21.0,1.33,77.0,36.0,386.0,0.103,1.0,1.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3177 entries, 0 to 3176
Data columns (total 36 columns):
Sex_1male_2female                            3110 non-null float64
Age                                          3135 non-null float64
Weather_1sunny_2cloudy_3rainy_4missing       2567 non-null float64
Location_1outdoor_indoor                     1831 non-null float64
Functionaldependency_1notdisable_2disable    2797 non-null float64
HT                                           3175 non-null float64
HeartDisease                                 3175 non-null float64
Pscyco                                       3175 non-null float64
DM                                           3175 non-null float64
CerevD                                       3175 non-null float64
ParkinD                                      3175 non-null float64
CKD                                          3175 non-null float64
Dementia                                     3175 non-null float64
PreSBP                                       1882 non-null float64
PreRR                                        1552 non-null float64
PreGCSlessthan15                             2011 non-null float64
PreBT                                        1766 non-null float64
PreHR                                        1859 non-null float64
Abdminal                                     1819 non-null float64
Muscular                                     1573 non-null float64
GCS                                          3080 non-null float64
SBP                                          2942 non-null float64
BT                                           2700 non-null float64
HR                                           2834 non-null float64
WBC                                          2850 non-null float64
Ht                                           2787 non-null float64
Plt                                          2797 non-null float64
BUN                                          2822 non-null float64
Cre                                          2837 non-null float64
AST                                          2805 non-null float64
ALT                                          2801 non-null float64
CK                                           2620 non-null float64
CRP                                          2639 non-null object
Admission1                                   3001 non-null float64
ICU                                          2502 non-null float64
Deadtodischarge                              2810 non-null float64
dtypes: float64(35), object(1)
memory usage: 893.6+ KB

## Data Cleaning

In [5]:
target = 'Deadtodischarge'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
df = df.replace('#NULL!',np.nan,regex=True)
#df = df.replace('99',np.nan,regex=True)
#df = df.replace(99,np.nan,regex=True)
#df

### Remove outliers

In [7]:
# Drop the column outliers as it is unrelated to the dependent variable
outliers = ['Location_1outdoor_indoor', 'PreSBP', 'PreRR','PreBT','PreHR','Abdminal','Muscular','CRP']
df = df.drop(outliers,axis=1)
df.head()

,Sex_1male_2female,Age,Weather_1sunny_2cloudy_3rainy_4missing,Functionaldependency_1notdisable_2disable,HT,HeartDisease,Pscyco,DM,CerevD,ParkinD,...,Ht,Plt,BUN,Cre,AST,ALT,CK,Admission1,ICU,Deadtodischarge
0,1.0,24.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.7,23.2,17.0,1.69,29.0,48.0,506.0,1.0,NaN,NaN
1,NaN,43.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,42.1,24.3,23.1,3.08,36.0,35.0,883.0,1.0,NaN,NaN
2,1.0,58.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51.4,31.2,19.4,1.42,33.0,16.0,815.0,1.0,NaN,NaN
3,1.0,46.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,60.4,33.3,32.9,4.20,33.0,54.0,173.0,1.0,NaN,NaN
4,1.0,57.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36.3,14.1,21.0,1.33,77.0,36.0,386.0,1.0,1.0,NaN

### Remove bad columns

In [8]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [9]:
df = remove_bad_columns(df,400)
df.info()

number of bad columns: 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3177 entries, 0 to 3176
Data columns (total 23 columns):
Sex_1male_2female                            3110 non-null float64
Age                                          3135 non-null float64
Functionaldependency_1notdisable_2disable    2797 non-null float64
HT                                           3175 non-null float64
HeartDisease                                 3175 non-null float64
Pscyco                                       3175 non-null float64
DM                                           3175 non-null float64
CerevD                                       3175 non-null float64
ParkinD                                      3175 non-null float64
CKD                                          3175 non-null float64
Dementia                                     3175 non-null float64
GCS                                          3080 non-null float64
SBP                                          2942 non-null float64
HR                                           2834 non-null float64
WBC                                          2850 non-null float64
Ht                                           2787 non-null float64
Plt                                          2797 non-null float64
BUN                                          2822 non-null float64
Cre                                          2837 non-null float64
AST                                          2805 non-null float64
ALT                                          2801 non-null float64
Admission1                                   3001 non-null float64
Deadtodischarge                              2810 non-null float64
dtypes: float64(23)
memory usage: 570.9 KB

### Remove bad rows

In [10]:
 # Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [11]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
367

We find bad rows which contain too many missing values, then remove them.

In [12]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [13]:
bad_rows = find_bad_rows(df,5)
df.info()

number of bad rows: 319
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3177 entries, 0 to 3176
Data columns (total 23 columns):
Sex_1male_2female                            3110 non-null float64
Age                                          3135 non-null float64
Functionaldependency_1notdisable_2disable    2797 non-null float64
HT                                           3175 non-null float64
HeartDisease                                 3175 non-null float64
Pscyco                                       3175 non-null float64
DM                                           3175 non-null float64
CerevD                                       3175 non-null float64
ParkinD                                      3175 non-null float64
CKD                                          3175 non-null float64
Dementia                                     3175 non-null float64
GCS                                          3080 non-null float64
SBP                                          2942 non-null float64
HR                                           2834 non-null float64
WBC                                          2850 non-null float64
Ht                                           2787 non-null float64
Plt                                          2797 non-null float64
BUN                                          2822 non-null float64
Cre                                          2837 non-null float64
AST                                          2805 non-null float64
ALT                                          2801 non-null float64
Admission1                                   3001 non-null float64
Deadtodischarge                              2810 non-null float64
dtypes: float64(23)
memory usage: 570.9 KB

In [14]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 602

### Separate target and attributes

In [15]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [16]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[  2  83   2   2   2   2   2   2   2   2   2  19 168 151 691 346 479 427
 352 226 173   2]

In [17]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [18]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21]
i_category: []
variable type: [1. 3. 1. 1. 1. 1. 1. 1. 1. 1. 1. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 1.]

### Impute missing values of attributes

In [19]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            df2[col] = df[col].fillna(df[col].median())    
    return df2

In [20]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2575 entries, 5 to 3174
Data columns (total 22 columns):
Sex_1male_2female                            2575 non-null float64
Age                                          2575 non-null float64
Functionaldependency_1notdisable_2disable    2575 non-null float64
HT                                           2575 non-null float64
HeartDisease                                 2575 non-null float64
Pscyco                                       2575 non-null float64
DM                                           2575 non-null float64
CerevD                                       2575 non-null float64
ParkinD                                      2575 non-null float64
CKD                                          2575 non-null float64
Dementia                                     2575 non-null float64
GCS                                          2575 non-null float64
SBP                                          2575 non-null float64
HR                                           2575 non-null float64
WBC                                          2575 non-null float64
Ht                                           2575 non-null float64
Plt                                          2575 non-null float64
BUN                                          2575 non-null float64
Cre                                          2575 non-null float64
AST                                          2575 non-null float64
ALT                                          2575 non-null float64
Admission1                                   2575 non-null float64
dtypes: float64(22)
memory usage: 462.7 KB

## Data Processing

### Attributes

In [21]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [22]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(2575, 22)
[[  1.  29.  -1. ...  16.  18.  -1.]
 [  1.  49.  -1. ... 100.  56.  -1.]
 [  1.  59.  -1. ...  40.  58.  -1.]
 ...
 [ -1.  80.  -1. ... 140.  53.   1.]
 [  1.  84.   1. ...  20.  11.   1.]
 [  1.  82.  -1. ...  26.  19.   1.]]

### Target

In [23]:
y = np.array(dfy)
#print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
y_new = y
#y_new = np.ones(y.shape[0])
#y_new[y =='No'] = 0

print(np.unique(y_new,return_counts=True))

(array([0., 1.]), array([2492,   83]))

In [24]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('data_processed.dat',xy_new,fmt='%f')