## Data cleaning

In this section, we first see the data structure and identify data attributes. We then clean the data, including removing bad rows, bad attributes, imputing missing values, etc.

First of all, we import the necessary packages to the Jupyter notebook:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

We load the raw data.

In [3]:
df = pd.read_csv('cryo.csv',sep= ',')

In [4]:
df.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

The dependent variable is the result of treatment.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
sex                    90 non-null int64
age                    90 non-null int64
Time                   90 non-null float64
Number_of_Warts        90 non-null int64
Type                   90 non-null int64
Area                   90 non-null int64
Result_of_Treatment    90 non-null int64
dtypes: float64(1), int64(6)
memory usage: 5.0 KB

To clearn the data, we first replace the empty value by `nan`.

In [6]:
# replace empty by nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df

    sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0     1   35  12.00                5     1   100                    0
1     1   29   7.00                5     1    96                    1
2     1   50   8.00                1     3   132                    0
3     1   32  11.75                7     3   750                    0
4     1   67   9.25                1     1    42                    0
5     1   41   8.00                2     2    20                    1
6     1   36  11.00                2     1     8                    0
7     1   59   3.50                3     3    20                    0
8     1   20   4.50               12     1     6                    1
9     2   34  11.25                3     3   150                    0
10    2   21  10.75                5     1    35                    0
11    2   15   6.00                2     1    30                    1
12    2   15   2.00                3     1     4                    1
13    2   15   3.75                2     3    70                    1
14    2   17  11.00                2     1    10                    0
15    2   17   5.25                3     1    63                    1
16    2   23  11.75               12     3    72                    0
17    2   27   8.75                2     1     6                    0
18    2   15   4.25                1     1     6                    1
19    2   18   5.75                1     1    80                    1
20    1   22   5.50                2     1    70                    1
21    2   16   8.50                1     2    60                    1
22    1   28   4.75                3     1   100                    1
23    2   40   9.75                1     2    80                    0
24    1   30   2.50                2     1   115                    1
25    2   34  12.00                3     3    95                    0
26    1   20   0.50                2     1    75                    1
27    2   35  12.00                5     3   100                    0
28    2   24   9.50                3     3    20                    0
29    2   19   8.75                6     1   160                    1
..  ...  ...    ...              ...   ...   ...                  ...
60    1   35   7.25                2     1   100                    1
61    1   29  11.75                5     1    96                    0
62    2   50   9.50                4     3   132                    0
63    2   32  12.00               12     3   750                    0
64    1   67  10.00                7     1    42                    0
65    2   41   7.75                5     2    20                    1
66    2   36  10.50                4     1     8                    0
67    1   67   3.75               11     3    20                    0
68    1   20   4.00                3     1     6                    1
69    1   34  11.25                1     3   150                    0
70    2   21  10.75                7     1    35                    0
71    1   15  10.50               11     1    30                    1
72    1   15   2.00               11     1     4                    1
73    2   15   2.00               10     3    70                    1
74    1   17   9.25               12     1    10                    0
75    1   17   5.75               10     1    63                    1
76    1   23  10.25                7     3    72                    0
77    1   27  10.50                7     1     6                    0
78    1   15   5.50                5     1     6                    1
79    1   18   4.00                1     1    80                    1
80    2   22   4.50                2     1    70                    1
81    1   16  11.00                3     2    60                    1
82    2   28   5.00                9     1   100                    1
83    1   40  11.50                9     2    80                    0
84    1   30   0.25               10     1   115                    1
85    2   34  12.00                3     3    95                    0
86    2   20   3.50                6     1    75                    1
87    2   35   8.25                8     3   100                    0
88    1   24  10.75               10     1    20                    1
89    1   19   8.00                8     1   160                    1

[90 rows x 7 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
sex                    90 non-null int64
age                    90 non-null int64
Time                   90 non-null float64
Number_of_Warts        90 non-null int64
Type                   90 non-null int64
Area                   90 non-null int64
Result_of_Treatment    90 non-null int64
dtypes: float64(1), int64(6)
memory usage: 5.0 KB

We find bad rows which contain too many missing values, then remove them.

In [8]:
# find bad rows having too many missing values
n_null = np.array(df.isnull().sum(axis=1))
bad_row = np.array([])
for t in range(len(n_null)):
    if n_null[t] > 10:
        #print(t)
        bad_row = np.append(bad_row,t)
        
print(bad_row)
print(len(bad_row))

# delete bad rows
df = df.drop(bad_row)
df.info()

[]
0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Data columns (total 7 columns):
sex                    90 non-null int64
age                    90 non-null int64
Time                   90 non-null float64
Number_of_Warts        90 non-null int64
Type                   90 non-null int64
Area                   90 non-null int64
Result_of_Treatment    90 non-null int64
dtypes: float64(1), int64(6)
memory usage: 5.6 KB

The data still contain errors, such as `\t`, ` `, `\?`. We will delete `\t` and ` ` and convert `\?` to `np.nan`.

In [9]:
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?','np.nan',regex=True)

For convenience, we separate independents `X` and dependent `y` from the data.

In [10]:
X = df.drop('Result_of_Treatment',axis=1)
y = df['Result_of_Treatment']

In [11]:
x1 = np.array(X)
x1

array([[1.000e+00, 3.500e+01, 1.200e+01, 5.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 2.900e+01, 7.000e+00, 5.000e+00, 1.000e+00, 9.600e+01],
       [1.000e+00, 5.000e+01, 8.000e+00, 1.000e+00, 3.000e+00, 1.320e+02],
       [1.000e+00, 3.200e+01, 1.175e+01, 7.000e+00, 3.000e+00, 7.500e+02],
       [1.000e+00, 6.700e+01, 9.250e+00, 1.000e+00, 1.000e+00, 4.200e+01],
       [1.000e+00, 4.100e+01, 8.000e+00, 2.000e+00, 2.000e+00, 2.000e+01],
       [1.000e+00, 3.600e+01, 1.100e+01, 2.000e+00, 1.000e+00, 8.000e+00],
       [1.000e+00, 5.900e+01, 3.500e+00, 3.000e+00, 3.000e+00, 2.000e+01],
       [1.000e+00, 2.000e+01, 4.500e+00, 1.200e+01, 1.000e+00, 6.000e+00],
       [2.000e+00, 3.400e+01, 1.125e+01, 3.000e+00, 3.000e+00, 1.500e+02],
       [2.000e+00, 2.100e+01, 1.075e+01, 5.000e+00, 1.000e+00, 3.500e+01],
       [2.000e+00, 1.500e+01, 6.000e+00, 2.000e+00, 1.000e+00, 3.000e+01],
       [2.000e+00, 1.500e+01, 2.000e+00, 3.000e+00, 1.000e+00, 4.000e+00],
       [2.000e+00, 1.500e+01, 3.750e+00, 2.000e+00, 3.000e+00, 7.000e+01],
       [2.000e+00, 1.700e+01, 1.100e+01, 2.000e+00, 1.000e+00, 1.000e+01],
       [2.000e+00, 1.700e+01, 5.250e+00, 3.000e+00, 1.000e+00, 6.300e+01],
       [2.000e+00, 2.300e+01, 1.175e+01, 1.200e+01, 3.000e+00, 7.200e+01],
       [2.000e+00, 2.700e+01, 8.750e+00, 2.000e+00, 1.000e+00, 6.000e+00],
       [2.000e+00, 1.500e+01, 4.250e+00, 1.000e+00, 1.000e+00, 6.000e+00],
       [2.000e+00, 1.800e+01, 5.750e+00, 1.000e+00, 1.000e+00, 8.000e+01],
       [1.000e+00, 2.200e+01, 5.500e+00, 2.000e+00, 1.000e+00, 7.000e+01],
       [2.000e+00, 1.600e+01, 8.500e+00, 1.000e+00, 2.000e+00, 6.000e+01],
       [1.000e+00, 2.800e+01, 4.750e+00, 3.000e+00, 1.000e+00, 1.000e+02],
       [2.000e+00, 4.000e+01, 9.750e+00, 1.000e+00, 2.000e+00, 8.000e+01],
       [1.000e+00, 3.000e+01, 2.500e+00, 2.000e+00, 1.000e+00, 1.150e+02],
       [2.000e+00, 3.400e+01, 1.200e+01, 3.000e+00, 3.000e+00, 9.500e+01],
       [1.000e+00, 2.000e+01, 5.000e-01, 2.000e+00, 1.000e+00, 7.500e+01],
       [2.000e+00, 3.500e+01, 1.200e+01, 5.000e+00, 3.000e+00, 1.000e+02],
       [2.000e+00, 2.400e+01, 9.500e+00, 3.000e+00, 3.000e+00, 2.000e+01],
       [2.000e+00, 1.900e+01, 8.750e+00, 6.000e+00, 1.000e+00, 1.600e+02],
       [1.000e+00, 3.500e+01, 9.250e+00, 9.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 2.900e+01, 7.250e+00, 6.000e+00, 1.000e+00, 9.600e+01],
       [1.000e+00, 5.000e+01, 8.750e+00, 1.100e+01, 3.000e+00, 1.320e+02],
       [2.000e+00, 3.200e+01, 1.200e+01, 4.000e+00, 3.000e+00, 7.500e+02],
       [2.000e+00, 6.700e+01, 1.200e+01, 1.200e+01, 3.000e+00, 4.200e+01],
       [2.000e+00, 4.100e+01, 1.050e+01, 2.000e+00, 2.000e+00, 2.000e+01],
       [2.000e+00, 3.600e+01, 1.100e+01, 6.000e+00, 1.000e+00, 8.000e+00],
       [1.000e+00, 6.300e+01, 2.750e+00, 3.000e+00, 3.000e+00, 2.000e+01],
       [1.000e+00, 2.000e+01, 5.000e+00, 3.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 3.400e+01, 1.200e+01, 1.000e+00, 3.000e+00, 1.500e+02],
       [2.000e+00, 2.100e+01, 1.050e+01, 5.000e+00, 1.000e+00, 3.500e+01],
       [2.000e+00, 1.500e+01, 8.000e+00, 1.200e+01, 1.000e+00, 3.000e+01],
       [1.000e+00, 1.500e+01, 3.500e+00, 2.000e+00, 1.000e+00, 4.000e+00],
       [2.000e+00, 1.500e+01, 1.500e+00, 1.200e+01, 3.000e+00, 7.000e+01],
       [1.000e+00, 1.700e+01, 1.150e+01, 2.000e+00, 1.000e+00, 1.000e+01],
       [1.000e+00, 1.700e+01, 5.250e+00, 4.000e+00, 1.000e+00, 6.300e+01],
       [2.000e+00, 2.300e+01, 9.500e+00, 5.000e+00, 3.000e+00, 7.200e+01],
       [1.000e+00, 2.700e+01, 1.000e+01, 5.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 1.500e+01, 4.000e+00, 7.000e+00, 1.000e+00, 6.000e+00],
       [2.000e+00, 1.800e+01, 4.500e+00, 8.000e+00, 1.000e+00, 8.000e+01],
       [2.000e+00, 2.200e+01, 5.000e+00, 9.000e+00, 1.000e+00, 7.000e+01],
       [1.000e+00, 1.600e+01, 1.025e+01, 3.000e+00, 2.000e+00, 6.000e+01],
       [2.000e+00, 2.800e+01, 4.000e+00, 1.100e+01, 1.000e+00, 1.000e+02],
       [2.000e+00, 4.000e+01, 8.750e+00, 6.000e+00, 2.000e+00, 8.000e+01],
       [2.000e+00, 3.000e+01, 5.000e-01, 8.000e+00, 3.000e+00, 1.150e+02],
       [1.000e+00, 3.400e+01, 1.075e+01, 1.000e+00, 3.000e+00, 9.500e+01],
       [1.000e+00, 2.000e+01, 3.750e+00, 1.100e+01, 1.000e+00, 7.500e+01],
       [2.000e+00, 3.500e+01, 8.500e+00, 6.000e+00, 3.000e+00, 1.000e+02],
       [1.000e+00, 2.400e+01, 9.500e+00, 8.000e+00, 1.000e+00, 2.000e+01],
       [2.000e+00, 1.900e+01, 8.000e+00, 9.000e+00, 1.000e+00, 1.600e+02],
       [1.000e+00, 3.500e+01, 7.250e+00, 2.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 2.900e+01, 1.175e+01, 5.000e+00, 1.000e+00, 9.600e+01],
       [2.000e+00, 5.000e+01, 9.500e+00, 4.000e+00, 3.000e+00, 1.320e+02],
       [2.000e+00, 3.200e+01, 1.200e+01, 1.200e+01, 3.000e+00, 7.500e+02],
       [1.000e+00, 6.700e+01, 1.000e+01, 7.000e+00, 1.000e+00, 4.200e+01],
       [2.000e+00, 4.100e+01, 7.750e+00, 5.000e+00, 2.000e+00, 2.000e+01],
       [2.000e+00, 3.600e+01, 1.050e+01, 4.000e+00, 1.000e+00, 8.000e+00],
       [1.000e+00, 6.700e+01, 3.750e+00, 1.100e+01, 3.000e+00, 2.000e+01],
       [1.000e+00, 2.000e+01, 4.000e+00, 3.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 3.400e+01, 1.125e+01, 1.000e+00, 3.000e+00, 1.500e+02],
       [2.000e+00, 2.100e+01, 1.075e+01, 7.000e+00, 1.000e+00, 3.500e+01],
       [1.000e+00, 1.500e+01, 1.050e+01, 1.100e+01, 1.000e+00, 3.000e+01],
       [1.000e+00, 1.500e+01, 2.000e+00, 1.100e+01, 1.000e+00, 4.000e+00],
       [2.000e+00, 1.500e+01, 2.000e+00, 1.000e+01, 3.000e+00, 7.000e+01],
       [1.000e+00, 1.700e+01, 9.250e+00, 1.200e+01, 1.000e+00, 1.000e+01],
       [1.000e+00, 1.700e+01, 5.750e+00, 1.000e+01, 1.000e+00, 6.300e+01],
       [1.000e+00, 2.300e+01, 1.025e+01, 7.000e+00, 3.000e+00, 7.200e+01],
       [1.000e+00, 2.700e+01, 1.050e+01, 7.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 1.500e+01, 5.500e+00, 5.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 1.800e+01, 4.000e+00, 1.000e+00, 1.000e+00, 8.000e+01],
       [2.000e+00, 2.200e+01, 4.500e+00, 2.000e+00, 1.000e+00, 7.000e+01],
       [1.000e+00, 1.600e+01, 1.100e+01, 3.000e+00, 2.000e+00, 6.000e+01],
       [2.000e+00, 2.800e+01, 5.000e+00, 9.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 4.000e+01, 1.150e+01, 9.000e+00, 2.000e+00, 8.000e+01],
       [1.000e+00, 3.000e+01, 2.500e-01, 1.000e+01, 1.000e+00, 1.150e+02],
       [2.000e+00, 3.400e+01, 1.200e+01, 3.000e+00, 3.000e+00, 9.500e+01],
       [2.000e+00, 2.000e+01, 3.500e+00, 6.000e+00, 1.000e+00, 7.500e+01],
       [2.000e+00, 3.500e+01, 8.250e+00, 8.000e+00, 3.000e+00, 1.000e+02],
       [1.000e+00, 2.400e+01, 1.075e+01, 1.000e+01, 1.000e+00, 2.000e+01],
       [1.000e+00, 1.900e+01, 8.000e+00, 8.000e+00, 1.000e+00, 1.600e+02]])

We determine and drop the variables with excessive missing values from the dataset.

In [12]:
i_missing = []
for i in range(x1.shape[1]):
    n_missing = np.sum(np.isnan(x1[:,i]))
    if n_missing > 5:
        print(i,n_missing)
        i_missing.append(i)    
print(i_missing)

[]

In [13]:
x2 = np.delete(x1,i_missing,axis=1)
x2.shape

(90, 6)

We impute the missing value of X at each column by its median value.

In [14]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):
    def __init__(self):
        """Impute missing values.
        - Columns of dtype object are imputed with the most frequent value in column.
        - Columns of other types are imputed with mean of column.
        """
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            # numerical --> mean, categorical --> median
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)  
                               
            # numerical, categorical --> median                   
            #if X[c].dtype == np.dtype('O') else X[c].median() for c in X], index=X.columns)
        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [15]:
X = DataFrameImputer().fit_transform(X)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Data columns (total 6 columns):
sex                90 non-null int64
age                90 non-null int64
Time               90 non-null float64
Number_of_Warts    90 non-null int64
Type               90 non-null int64
Area               90 non-null int64
dtypes: float64(1), int64(5)
memory usage: 4.9 KB

Now, the data are completely clean. We convert attributes `X` and target `y` to numpy arrays and save them to files.

In [17]:
X = np.array(X)
y = np.array(y)
Xy = np.hstack((X,y[:,np.newaxis]))

np.savetxt('cryo_cleaned.dat',Xy,fmt='%s')