## Data cleaning

In this section, we first see the data structure and identify data attributes. We then clean the data, including removing bad rows, bad attributes, imputing missing values, etc.

First of all, we import the necessary packages to the Jupyter notebook:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

We load the raw data.

In [3]:
df = pd.read_csv('smoking.csv',sep= ',')

In [4]:
df.head()

,age,gender,A1,A2_completed_education,A3,A4,A5,A6,A7,A8,...,Low,Middle,High,Not_applicable,Smoke_daily,Smoke_less_then_daily,Smoked_in_the_past,Never_smoker,a62_income,a4_smoking_status
0,35,2,1,2,2,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,34,1,4,3,3,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
3,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
4,35,2,2,3,3,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0

There are 118 attributes: <br/>


and 1 class: health status with 1 and 0 representing healthy and not healthy.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Columns: 119 entries, age to a4_smoking_status
dtypes: float64(49), int64(70)
memory usage: 1.4 MB

To clean the data, we first replace the empty value by `nan`.

In [6]:
# replace empty by nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('99',np.nan,regex=True)
df = df.replace(99,np.nan,regex=True)
df

,age,gender,A1,A2_completed_education,A3,A4,A5,A6,A7,A8,...,Low,Middle,High,Not_applicable,Smoke_daily,Smoke_less_then_daily,Smoked_in_the_past,Never_smoker,a62_income,a4_smoking_status
0,35,2,1,2,2,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,34,1,4,3,3,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
3,37,2,3,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
4,35,2,2,3,3,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0
5,29,2,5,3,2,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
6,48,1,2,3,3,1,NaN,2.0,3.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
7,41,2,5,3,3,1,NaN,3.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
8,15,1,5,1,1,1,NaN,1.0,3.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
9,37,2,1,3,1,1,NaN,3.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
10,56,1,1,3,2,4,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0
11,23,2,5,2,1,2,3.0,1.0,4.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2.0
12,49,2,1,3,2,4,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0
13,36,2,2,2,1,2,1.0,1.0,NaN,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0
14,34,2,1,3,2,1,NaN,3.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
15,32,1,1,2,1,4,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0
16,38,1,1,2,1,4,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0
17,44,1,1,2,4,1,NaN,4.0,2.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
18,51,1,3,3,4,3,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0
19,29,1,1,3,2,1,NaN,3.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
20,23,1,5,2,1,4,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0
21,32,1,1,3,1,4,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0
22,27,1,2,3,3,4,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,4.0
23,62,1,4,3,3,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0
24,67,1,4,2,5,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0
25,34,1,1,3,2,1,NaN,3.0,2.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
26,29,2,1,3,1,1,NaN,2.0,3.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
27,60,2,1,1,5,3,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0
28,65,1,1,1,2,4,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0
29,54,2,3,2,2,4,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,61,1,2,2,4,2,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.0
1559,36,1,1,3,3,4,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0
1560,44,2,1,3,3,2,3.0,1.0,4.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.0
1561,31,2,5,3,3,1,NaN,4.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
1562,35,2,2,3,3,3,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0
1563,14,2,5,1,1,1,NaN,1.0,2.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
1564,15,1,5,1,1,2,3.0,1.0,4.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.0
1565,61,2,1,1,2,4,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0
1566,51,2,1,2,4,1,NaN,4.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
1567,34,1,3,3,3,1,NaN,2.0,2.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
1568,37,1,5,2,1,4,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0
1569,37,1,2,3,1,1,NaN,3.0,2.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0
1570,44,2,1,1,3,1,NaN,4.0,2.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1571,28,1,4,3,2,4,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0
1572,29,1,2,3,2,2,5.0,1.0,4.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.0
1573,47,2,1,1,2,1,NaN,3.0,3.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
1574,70,1,4,1,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0
1575,27,1,1,2,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0
1576,57,2,1,1,4,1,NaN,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1577,53,1,1,3,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0
1578,56,2,1,2,4,1,NaN,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
1579,15,1,5,1,1,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
1580,48,1,2,1,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0
1581,51,2,1,2,3,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0
1582,59,1,1,1,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
1583,56,1,1,1,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0
1584,47,2,4,2,4,1,NaN,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
1585,66,2,1,1,4,1,NaN,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1586,33,2,1,2,1,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0
1587,41,1,1,1,2,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Columns: 119 entries, age to a4_smoking_status
dtypes: float64(84), int64(35)
memory usage: 1.4 MB

The data still contain errors, such as `\t`, ` `, `\?`. We will delete `\t` and ` ` and convert `\?` to `np.nan`.

In [8]:
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?','np.nan',regex=True)

We remove columns with too many missing values.

In [9]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] > bad_column_threshold:
            bad_col = np.append(bad_col,t)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [10]:
df = remove_bad_columns(df,200)

number of bad columns: 23

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 96 columns):
age                             1588 non-null int64
gender                          1588 non-null int64
A1                              1588 non-null int64
A2_completed_education          1588 non-null int64
A3                              1588 non-null int64
A4                              1588 non-null int64
A9                              1571 non-null float64
A16                             1587 non-null float64
A17                             1587 non-null float64
A18                             1588 non-null int64
A19                             1588 non-null int64
A20                             1588 non-null int64
A21                             1556 non-null float64
A22                             1585 non-null float64
A23                             1588 non-null int64
A24                             1588 non-null int64
A25                             1588 non-null int64
A26                             1497 non-null float64
A30                             1536 non-null float64
A31                             1548 non-null float64
A32                             1552 non-null float64
A33                             1524 non-null float64
A34                             1554 non-null float64
A35                             1547 non-null float64
A37                             1528 non-null float64
A38                             1521 non-null float64
A39                             1535 non-null float64
A40                             1540 non-null float64
A46                             1567 non-null float64
A47                             1567 non-null float64
A48                             1546 non-null float64
A49                             1570 non-null float64
A50                             1571 non-null float64
A51                             1567 non-null float64
A52                             1558 non-null float64
A53                             1559 non-null float64
A54                             1570 non-null float64
A55                             1572 non-null float64
A56                             1563 non-null float64
A57                             1565 non-null float64
A58                             1512 non-null float64
A59                             1553 non-null float64
A60                             1588 non-null int64
A61                             1588 non-null int64
A62                             1569 non-null float64
A67                             1557 non-null float64
A68                             1558 non-null float64
A69                             1488 non-null float64
agecatage                       1588 non-null int64
maritalstatusa1                 1588 non-null int64
Regiona61                       1588 non-null int64
healthstatus3                   1588 non-null int64
Sales_rest                      1588 non-null int64
Sales_rest_category             1588 non-null int64
Sales_rest_category_Negative    1588 non-null int64
Sales_rest_category_low         1588 non-null int64
Sales_rest_category_high        1588 non-null int64
SalesHighSupport                1588 non-null int64
A55_a                           1571 non-null float64
A56_a                           1563 non-null float64
A57_a                           1565 non-null float64
A58_a                           1512 non-null float64
A38_valid                       1521 non-null float64
bb                              1588 non-null int64
A38_rec                         1588 non-null int64
A39_rec                         1588 non-null int64
A40_rec                         1588 non-null int64
A55_rec                         1588 non-null int64
A56_rec                         1588 non-null int64
A57_rec                         1588 non-null int64
A58_rec                         1588 non-null int64
A59_rec                         1588 non-null int64
II_STATIA                       1574 non-null float64
filter_$                        1588 non-null int64
attit2                          1588 non-null int64
support0_8                      1574 non-null float64
age_13_25                       1574 non-null float64
age_26_35                       1574 non-null float64
age_36_45                       1574 non-null float64
age_46_55                       1574 non-null float64
age_56_70                       1574 non-null float64
female                          1574 non-null float64
male                            1574 non-null float64
Primary_or_Secondary            1574 non-null float64
Middle_college                  1574 non-null float64
University                      1574 non-null float64
Low                             1574 non-null float64
Middle                          1574 non-null float64
High                            1574 non-null float64
Not_applicable                  1574 non-null float64
Smoke_daily                     1574 non-null float64
Smoke_less_then_daily           1574 non-null float64
Smoked_in_the_past              1574 non-null float64
Never_smoker                    1574 non-null float64
a62_income                      1569 non-null float64
a4_smoking_status               1588 non-null float64
dtypes: float64(61), int64(35)
memory usage: 1.2 MB

We find bad rows which contain too many missing values, then remove them.

In [12]:
def remove_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([])
    for t in range(len(n_null)):
        if n_null[t] > bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    df = df.drop(bad_row)
    #df.info()
    return df

In [13]:
df = remove_bad_rows(df,10)

number of bad rows: 14

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1574 entries, 0 to 1573
Data columns (total 96 columns):
age                             1574 non-null int64
gender                          1574 non-null int64
A1                              1574 non-null int64
A2_completed_education          1574 non-null int64
A3                              1574 non-null int64
A4                              1574 non-null int64
A9                              1557 non-null float64
A16                             1573 non-null float64
A17                             1573 non-null float64
A18                             1574 non-null int64
A19                             1574 non-null int64
A20                             1574 non-null int64
A21                             1542 non-null float64
A22                             1571 non-null float64
A23                             1574 non-null int64
A24                             1574 non-null int64
A25                             1574 non-null int64
A26                             1484 non-null float64
A30                             1523 non-null float64
A31                             1535 non-null float64
A32                             1539 non-null float64
A33                             1510 non-null float64
A34                             1541 non-null float64
A35                             1533 non-null float64
A37                             1519 non-null float64
A38                             1514 non-null float64
A39                             1526 non-null float64
A40                             1531 non-null float64
A46                             1553 non-null float64
A47                             1553 non-null float64
A48                             1535 non-null float64
A49                             1556 non-null float64
A50                             1558 non-null float64
A51                             1553 non-null float64
A52                             1544 non-null float64
A53                             1546 non-null float64
A54                             1559 non-null float64
A55                             1565 non-null float64
A56                             1559 non-null float64
A57                             1561 non-null float64
A58                             1510 non-null float64
A59                             1548 non-null float64
A60                             1574 non-null int64
A61                             1574 non-null int64
A62                             1555 non-null float64
A67                             1550 non-null float64
A68                             1552 non-null float64
A69                             1483 non-null float64
agecatage                       1574 non-null int64
maritalstatusa1                 1574 non-null int64
Regiona61                       1574 non-null int64
healthstatus3                   1574 non-null int64
Sales_rest                      1574 non-null int64
Sales_rest_category             1574 non-null int64
Sales_rest_category_Negative    1574 non-null int64
Sales_rest_category_low         1574 non-null int64
Sales_rest_category_high        1574 non-null int64
SalesHighSupport                1574 non-null int64
A55_a                           1565 non-null float64
A56_a                           1559 non-null float64
A57_a                           1561 non-null float64
A58_a                           1510 non-null float64
A38_valid                       1514 non-null float64
bb                              1574 non-null int64
A38_rec                         1574 non-null int64
A39_rec                         1574 non-null int64
A40_rec                         1574 non-null int64
A55_rec                         1574 non-null int64
A56_rec                         1574 non-null int64
A57_rec                         1574 non-null int64
A58_rec                         1574 non-null int64
A59_rec                         1574 non-null int64
II_STATIA                       1574 non-null float64
filter_$                        1574 non-null int64
attit2                          1574 non-null int64
support0_8                      1574 non-null float64
age_13_25                       1574 non-null float64
age_26_35                       1574 non-null float64
age_36_45                       1574 non-null float64
age_46_55                       1574 non-null float64
age_56_70                       1574 non-null float64
female                          1574 non-null float64
male                            1574 non-null float64
Primary_or_Secondary            1574 non-null float64
Middle_college                  1574 non-null float64
University                      1574 non-null float64
Low                             1574 non-null float64
Middle                          1574 non-null float64
High                            1574 non-null float64
Not_applicable                  1574 non-null float64
Smoke_daily                     1574 non-null float64
Smoke_less_then_daily           1574 non-null float64
Smoked_in_the_past              1574 non-null float64
Never_smoker                    1574 non-null float64
a62_income                      1555 non-null float64
a4_smoking_status               1574 non-null float64
dtypes: float64(61), int64(35)
memory usage: 1.2 MB

For convenience, we separate independents `X` and dependent `y` from the data.

In [15]:
X = df.drop('healthstatus3',axis=1)
y = df['healthstatus3']

We impute the missing value of X at each column by its median value.

In [16]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):
    def __init__(self):
        """Impute missing values.
        - Columns of dtype object are imputed with the most frequent value in column.
        - Columns of other types are imputed with mean of column.
        """
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            # numerical --> mean, categorical --> median
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)  
                               
            # numerical, categorical --> median                   
            #if X[c].dtype == np.dtype('O') else X[c].median() for c in X], index=X.columns)
        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [17]:
X = DataFrameImputer().fit_transform(X)

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1574 entries, 0 to 1573
Data columns (total 95 columns):
age                             1574 non-null int64
gender                          1574 non-null int64
A1                              1574 non-null int64
A2_completed_education          1574 non-null int64
A3                              1574 non-null int64
A4                              1574 non-null int64
A9                              1574 non-null float64
A16                             1574 non-null float64
A17                             1574 non-null float64
A18                             1574 non-null int64
A19                             1574 non-null int64
A20                             1574 non-null int64
A21                             1574 non-null float64
A22                             1574 non-null float64
A23                             1574 non-null int64
A24                             1574 non-null int64
A25                             1574 non-null int64
A26                             1574 non-null float64
A30                             1574 non-null float64
A31                             1574 non-null float64
A32                             1574 non-null float64
A33                             1574 non-null float64
A34                             1574 non-null float64
A35                             1574 non-null float64
A37                             1574 non-null float64
A38                             1574 non-null float64
A39                             1574 non-null float64
A40                             1574 non-null float64
A46                             1574 non-null float64
A47                             1574 non-null float64
A48                             1574 non-null float64
A49                             1574 non-null float64
A50                             1574 non-null float64
A51                             1574 non-null float64
A52                             1574 non-null float64
A53                             1574 non-null float64
A54                             1574 non-null float64
A55                             1574 non-null float64
A56                             1574 non-null float64
A57                             1574 non-null float64
A58                             1574 non-null float64
A59                             1574 non-null float64
A60                             1574 non-null int64
A61                             1574 non-null int64
A62                             1574 non-null float64
A67                             1574 non-null float64
A68                             1574 non-null float64
A69                             1574 non-null float64
agecatage                       1574 non-null int64
maritalstatusa1                 1574 non-null int64
Regiona61                       1574 non-null int64
Sales_rest                      1574 non-null int64
Sales_rest_category             1574 non-null int64
Sales_rest_category_Negative    1574 non-null int64
Sales_rest_category_low         1574 non-null int64
Sales_rest_category_high        1574 non-null int64
SalesHighSupport                1574 non-null int64
A55_a                           1574 non-null float64
A56_a                           1574 non-null float64
A57_a                           1574 non-null float64
A58_a                           1574 non-null float64
A38_valid                       1574 non-null float64
bb                              1574 non-null int64
A38_rec                         1574 non-null int64
A39_rec                         1574 non-null int64
A40_rec                         1574 non-null int64
A55_rec                         1574 non-null int64
A56_rec                         1574 non-null int64
A57_rec                         1574 non-null int64
A58_rec                         1574 non-null int64
A59_rec                         1574 non-null int64
II_STATIA                       1574 non-null float64
filter_$                        1574 non-null int64
attit2                          1574 non-null int64
support0_8                      1574 non-null float64
age_13_25                       1574 non-null float64
age_26_35                       1574 non-null float64
age_36_45                       1574 non-null float64
age_46_55                       1574 non-null float64
age_56_70                       1574 non-null float64
female                          1574 non-null float64
male                            1574 non-null float64
Primary_or_Secondary            1574 non-null float64
Middle_college                  1574 non-null float64
University                      1574 non-null float64
Low                             1574 non-null float64
Middle                          1574 non-null float64
High                            1574 non-null float64
Not_applicable                  1574 non-null float64
Smoke_daily                     1574 non-null float64
Smoke_less_then_daily           1574 non-null float64
Smoked_in_the_past              1574 non-null float64
Never_smoker                    1574 non-null float64
a62_income                      1574 non-null float64
a4_smoking_status               1574 non-null float64
dtypes: float64(61), int64(34)
memory usage: 1.2 MB

Now, the data are completely clean. We convert attributes `X` and target `y` to numpy arrays and save them to files.

In [19]:
X = np.array(X)
y = np.array(y)
Xy = np.hstack((X,y[:,np.newaxis]))

np.savetxt('smoking_cleaned.dat',Xy,fmt='%s')