## Data cleaning

In this section, we first see the data structure and identify data attributes. We then clean the data, including removing bad rows, bad attributes, imputing missing values, etc.

First of all, we import the necessary packages to the Jupyter notebook:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

We load the raw data.

In [3]:
df = pd.read_csv('tanzania.csv',sep= ',')

In [4]:
df.head()

,GA,FHR_during_labour,Amniotic_fluid,Delivery_Mode,CS_category,CS_indication,BW,Apgar_1min,Apgar_5min,BMV,Outcome_30min,Outcome_24hours,Outcome_7days,Time_of_death,temp12ad0,puls13ad0,oxy14ad0,HIE_highest,major_cause,outcome
0,42.0,1,2,1,NaN,NaN,3000,8,10,2,2,2,3.0,2.0,36.0,144.0,60.0,NaN,6.0,1
1,40.0,9,1,1,NaN,NaN,2500,9,10,2,2,3,NaN,1.0,35.4,155.0,50.0,NaN,6.0,1
2,38.0,1,1,1,NaN,NaN,2815,7,10,1,1,2,3.0,2.0,36.4,166.0,71.0,NaN,6.0,1
3,36.0,1,1,1,NaN,NaN,2125,8,7,1,2,2,3.0,2.0,34.9,136.0,71.0,NaN,6.0,1
4,32.0,9,1,1,NaN,NaN,2115,9,10,2,2,2,3.0,3.0,36.1,131.0,72.0,NaN,6.0,1

The dependent variable is the patient outcome, `outcome`.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 20 columns):
GA                   599 non-null float64
FHR_during_labour    671 non-null int64
Amniotic_fluid       671 non-null int64
Delivery_Mode        671 non-null int64
CS_category          262 non-null float64
CS_indication        261 non-null float64
BW                   671 non-null int64
Apgar_1min           671 non-null int64
Apgar_5min           671 non-null int64
BMV                  671 non-null int64
Outcome_30min        671 non-null int64
Outcome_24hours      671 non-null int64
Outcome_7days        410 non-null float64
Time_of_death        124 non-null float64
temp12ad0            377 non-null float64
puls13ad0            363 non-null float64
oxy14ad0             371 non-null float64
HIE_highest          154 non-null float64
major_cause          124 non-null float64
outcome              671 non-null int64
dtypes: float64(10), int64(10)
memory usage: 104.9 KB

To clearn the data, we first replace the empty value by `nan`.

In [6]:
# replace empty by nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df

,GA,FHR_during_labour,Amniotic_fluid,Delivery_Mode,CS_category,CS_indication,BW,Apgar_1min,Apgar_5min,BMV,Outcome_30min,Outcome_24hours,Outcome_7days,Time_of_death,temp12ad0,puls13ad0,oxy14ad0,HIE_highest,major_cause,outcome
0,42.0,1,2,1,NaN,NaN,3000,8,10,2,2,2,3.0,2.0,36.0,144.0,60.0,NaN,6.0,1
1,40.0,9,1,1,NaN,NaN,2500,9,10,2,2,3,NaN,1.0,35.4,155.0,50.0,NaN,6.0,1
2,38.0,1,1,1,NaN,NaN,2815,7,10,1,1,2,3.0,2.0,36.4,166.0,71.0,NaN,6.0,1
3,36.0,1,1,1,NaN,NaN,2125,8,7,1,2,2,3.0,2.0,34.9,136.0,71.0,NaN,6.0,1
4,32.0,9,1,1,NaN,NaN,2115,9,10,2,2,2,3.0,3.0,36.1,131.0,72.0,NaN,6.0,1
5,36.0,1,1,1,NaN,NaN,2160,5,0,1,2,3,NaN,1.0,34.0,132.0,49.0,17.0,6.0,1
6,40.0,1,1,2,1.0,5.0,2085,9,10,2,2,2,3.0,2.0,35.0,136.0,96.0,NaN,6.0,1
7,38.0,1,1,1,NaN,NaN,2985,7,10,2,2,3,NaN,1.0,35.0,100.0,66.0,NaN,6.0,1
8,33.0,1,4,2,1.0,6.0,1660,9,10,2,2,2,3.0,2.0,36.7,158.0,53.0,NaN,6.0,1
9,40.0,9,1,1,NaN,NaN,2700,9,10,2,2,3,NaN,1.0,33.0,128.0,92.0,NaN,6.0,1
10,40.0,1,1,1,NaN,NaN,4070,9,10,2,2,3,NaN,1.0,36.4,146.0,86.0,NaN,6.0,1
11,40.0,1,1,2,1.0,3.0,4300,7,10,1,2,3,NaN,1.0,NaN,NaN,NaN,NaN,6.0,1
12,40.0,1,1,1,NaN,NaN,1950,7,10,2,2,2,3.0,2.0,NaN,139.0,52.0,NaN,6.0,1
13,36.0,1,1,2,2.0,3.0,2700,8,10,2,2,3,NaN,1.0,35.2,140.0,60.0,0.0,6.0,1
14,40.0,1,3,2,1.0,NaN,3335,5,8,1,2,2,3.0,2.0,35.0,139.0,37.0,NaN,5.0,1
15,38.0,2,3,2,1.0,2.0,2890,5,8,1,2,3,NaN,1.0,35.0,152.0,52.0,4.0,5.0,1
16,35.0,1,2,2,1.0,6.0,1930,7,10,1,2,2,3.0,2.0,35.4,152.0,37.0,NaN,5.0,1
17,36.0,1,3,1,NaN,NaN,3300,8,10,2,2,3,NaN,1.0,35.0,100.0,12.0,9.0,5.0,1
18,40.0,1,2,2,1.0,5.0,3400,8,10,2,1,2,3.0,2.0,NaN,145.0,55.0,NaN,5.0,1
19,40.0,1,3,2,1.0,3.0,3010,5,10,1,2,2,3.0,2.0,34.6,145.0,92.0,8.0,5.0,1
20,40.0,1,2,1,NaN,NaN,3000,7,10,1,2,3,NaN,1.0,36.5,132.0,90.0,NaN,5.0,1
21,NaN,1,3,1,NaN,NaN,3200,6,10,1,2,3,NaN,1.0,35.0,100.0,69.0,4.0,5.0,1
22,40.0,1,3,2,1.0,5.0,2430,6,10,1,2,3,NaN,1.0,33.6,133.0,40.0,6.0,5.0,1
23,36.0,1,3,2,1.0,1.0,3200,5,10,1,2,2,3.0,2.0,36.0,105.0,92.0,NaN,5.0,1
24,39.0,1,3,2,1.0,4.0,2900,6,10,1,2,3,NaN,1.0,36.0,132.0,64.0,NaN,5.0,1
25,40.0,1,2,2,1.0,3.0,2600,7,10,1,2,3,NaN,1.0,34.9,148.0,88.0,9.0,5.0,1
26,40.0,1,3,1,NaN,NaN,2500,6,8,2,2,2,3.0,3.0,36.4,161.0,78.0,7.0,5.0,1
27,30.0,1,1,3,NaN,NaN,1165,4,5,2,2,2,3.0,2.0,33.0,148.0,50.0,NaN,3.0,1
28,41.0,1,2,2,1.0,2.0,3420,3,5,1,2,3,NaN,1.0,35.0,158.0,79.0,18.0,3.0,1
29,40.0,1,3,1,NaN,NaN,2775,5,6,1,2,3,NaN,1.0,34.0,165.0,78.0,13.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,40.0,9,3,2,1.0,6.0,4250,7,10,1,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
642,NaN,9,3,1,NaN,NaN,3000,7,9,1,2,1,NaN,NaN,34.9,180.0,73.0,NaN,NaN,0
643,38.0,9,3,1,NaN,NaN,2450,7,10,2,2,1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0
644,40.0,9,1,2,1.0,5.0,2150,7,9,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
645,NaN,9,1,1,NaN,NaN,2550,2,10,1,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
646,37.0,9,1,1,NaN,NaN,3440,7,9,1,2,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0
647,40.0,9,1,2,1.0,3.0,2390,6,9,1,2,2,1.0,NaN,34.0,141.0,83.0,NaN,NaN,0
648,38.0,9,4,2,1.0,6.0,2670,4,6,1,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
649,39.0,9,2,1,NaN,NaN,3000,7,10,1,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
650,34.0,1,1,1,NaN,NaN,2135,9,10,2,1,2,NaN,NaN,35.4,170.0,66.0,NaN,NaN,0
651,32.0,1,1,1,NaN,NaN,2165,9,10,2,1,2,NaN,NaN,35.7,168.0,56.0,NaN,NaN,0
652,40.0,2,3,2,1.0,2.0,2870,9,10,2,1,2,NaN,NaN,NaN,126.0,90.0,NaN,NaN,0
653,40.0,2,1,1,NaN,NaN,2300,9,10,2,1,2,NaN,NaN,35.0,135.0,82.0,NaN,NaN,0
654,39.0,2,1,2,1.0,2.0,2890,8,10,2,1,2,NaN,NaN,NaN,124.0,75.0,NaN,NaN,0
655,40.0,1,3,1,NaN,NaN,3295,4,7,1,1,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
656,36.0,1,3,2,1.0,2.0,3500,7,10,1,1,2,NaN,NaN,36.6,NaN,92.0,NaN,NaN,0
657,36.0,1,3,1,NaN,NaN,2340,9,10,2,1,2,NaN,NaN,NaN,136.0,95.0,NaN,NaN,0
658,40.0,1,3,1,NaN,NaN,3400,8,10,2,1,2,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0
659,NaN,1,1,2,1.0,5.0,1640,9,10,2,1,2,NaN,NaN,36.2,92.0,96.0,NaN,NaN,0
660,NaN,1,1,2,1.0,5.0,2160,8,10,2,1,2,NaN,NaN,34.1,105.0,91.0,NaN,NaN,0
661,39.0,1,1,1,NaN,NaN,2800,9,10,2,1,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
662,37.0,1,1,1,NaN,NaN,2700,9,10,2,1,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
663,36.0,1,1,1,NaN,NaN,3300,9,10,2,1,2,NaN,NaN,37.3,137.0,72.0,NaN,NaN,0
664,40.0,1,1,2,1.0,1.0,3200,9,10,2,1,2,NaN,NaN,34.0,157.0,94.0,NaN,NaN,0
665,38.0,1,1,1,NaN,NaN,3650,9,10,2,1,2,NaN,NaN,36.0,144.0,83.0,NaN,NaN,0
666,40.0,1,2,1,NaN,NaN,3500,5,8,1,1,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
667,40.0,1,2,1,NaN,NaN,3500,9,10,2,1,2,NaN,NaN,34.9,164.0,98.0,NaN,NaN,0
668,40.0,1,2,1,NaN,NaN,3370,7,9,2,1,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
669,40.0,9,1,1,NaN,NaN,3400,9,10,2,1,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
670,NaN,9,1,1,NaN,NaN,3500,9,10,2,1,2,NaN,NaN,33.0,124.0,92.0,NaN,NaN,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 20 columns):
GA                   599 non-null float64
FHR_during_labour    671 non-null int64
Amniotic_fluid       671 non-null int64
Delivery_Mode        671 non-null int64
CS_category          262 non-null float64
CS_indication        261 non-null float64
BW                   671 non-null int64
Apgar_1min           671 non-null int64
Apgar_5min           671 non-null int64
BMV                  671 non-null int64
Outcome_30min        671 non-null int64
Outcome_24hours      671 non-null int64
Outcome_7days        410 non-null float64
Time_of_death        124 non-null float64
temp12ad0            377 non-null float64
puls13ad0            363 non-null float64
oxy14ad0             371 non-null float64
HIE_highest          154 non-null float64
major_cause          124 non-null float64
outcome              671 non-null int64
dtypes: float64(10), int64(10)
memory usage: 104.9 KB

We find bad rows which contain too many missing values, then remove them.

In [8]:
# find bad rows having too many missing values
n_null = np.array(df.isnull().sum(axis=1))
bad_row = np.array([])
for t in range(len(n_null)):
    if n_null[t] > 10:
        #print(t)
        bad_row = np.append(bad_row,t)
        
print(bad_row)
print(len(bad_row))

# delete bad rows
df = df.drop(bad_row)
df.info()

[]
0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 671 entries, 0 to 670
Data columns (total 20 columns):
GA                   599 non-null float64
FHR_during_labour    671 non-null int64
Amniotic_fluid       671 non-null int64
Delivery_Mode        671 non-null int64
CS_category          262 non-null float64
CS_indication        261 non-null float64
BW                   671 non-null int64
Apgar_1min           671 non-null int64
Apgar_5min           671 non-null int64
BMV                  671 non-null int64
Outcome_30min        671 non-null int64
Outcome_24hours      671 non-null int64
Outcome_7days        410 non-null float64
Time_of_death        124 non-null float64
temp12ad0            377 non-null float64
puls13ad0            363 non-null float64
oxy14ad0             371 non-null float64
HIE_highest          154 non-null float64
major_cause          124 non-null float64
outcome              671 non-null int64
dtypes: float64(10), int64(10)
memory usage: 110.1 KB

The data still contain errors, such as `\t`, ` `, `\?`. We will delete `\t` and ` ` and convert `\?` to `np.nan`.

In [9]:
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?','np.nan',regex=True)

For convenience, we separate independents `X` and dependent `y` from the data.

In [10]:
X = df.drop('outcome',axis=1)
y = df['outcome']

In [11]:
x1 = np.array(X)
x1

array([[42.,  1.,  2., ..., 60., nan,  6.],
       [40.,  9.,  1., ..., 50., nan,  6.],
       [38.,  1.,  1., ..., 71., nan,  6.],
       ...,
       [40.,  1.,  2., ..., nan, nan, nan],
       [40.,  9.,  1., ..., nan, nan, nan],
       [nan,  9.,  1., ..., 92., nan, nan]])

We determine and drop the variables with excessive missing values from the dataset.

In [12]:
i_missing = []
for i in range(x1.shape[1]):
    n_missing = np.sum(np.isnan(x1[:,i]))
    if n_missing > 5:
        print(i,n_missing)
        i_missing.append(i)    
print(i_missing)

0 72
4 409
5 410
12 261
13 547
14 294
15 308
16 300
17 517
18 547
[0, 4, 5, 12, 13, 14, 15, 16, 17, 18]

In [13]:
x2 = np.delete(x1,i_missing,axis=1)
x2.shape

(671, 9)

We impute the missing value of X at each column by its median value.

In [14]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):
    def __init__(self):
        """Impute missing values.
        - Columns of dtype object are imputed with the most frequent value in column.
        - Columns of other types are imputed with mean of column.
        """
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            # numerical --> mean, categorical --> median
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)  
                               
            # numerical, categorical --> median                   
            #if X[c].dtype == np.dtype('O') else X[c].median() for c in X], index=X.columns)
        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [15]:
X = DataFrameImputer().fit_transform(X)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671 entries, 0 to 670
Data columns (total 19 columns):
GA                   671 non-null float64
FHR_during_labour    671 non-null int64
Amniotic_fluid       671 non-null int64
Delivery_Mode        671 non-null int64
CS_category          671 non-null float64
CS_indication        671 non-null float64
BW                   671 non-null int64
Apgar_1min           671 non-null int64
Apgar_5min           671 non-null int64
BMV                  671 non-null int64
Outcome_30min        671 non-null int64
Outcome_24hours      671 non-null int64
Outcome_7days        671 non-null float64
Time_of_death        671 non-null float64
temp12ad0            671 non-null float64
puls13ad0            671 non-null float64
oxy14ad0             671 non-null float64
HIE_highest          671 non-null float64
major_cause          671 non-null float64
dtypes: float64(10), int64(9)
memory usage: 104.8 KB

Now, the data are completely clean. We convert attributes `X` and target `y` to numpy arrays and save them to files.

In [17]:
X = np.array(X)
y = np.array(y)
Xy = np.hstack((X,y[:,np.newaxis]))

np.savetxt('tanzania_cleaned.dat',Xy,fmt='%s')