In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
#from sklearn.preprocessing import Imputer

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv("imputation_data_test.csv")
df

    ID  Gender   Age  PhD_degree Level  Salary Location Happiness
0  101    Male  20.0         0.0     A   100.0       MD       Yes
1  102     NaN  26.0         NaN     A     NaN       VA        No
2  103  Female  30.0         0.0     B   120.0      NaN        No
3  104    Male  28.0         1.0     C   140.0       MD       NaN
4  105    Male  54.0         1.0     A   200.0       MD       Yes
5  106    Male  18.0         1.0     B     NaN      NaN        No
6  107    Male  50.0         1.0   NaN   100.0       DC       Yes
7  108  Female  60.0         NaN     A   115.0      NaN        No
8  109    Male   NaN         1.0     C   100.0      NaN        No
9  110     NaN  20.0         0.0     C   180.0       PA       Yes

In [4]:
def find_missing_row_target(df):
    # find rows where taget are missing
    missing_row = df['Happiness'].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [5]:
missing_row_target = find_missing_row_target(df)
print(missing_row_target)

Number of rows where target are missing:
1
[3]

In [6]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [7]:
bad_row = find_bad_rows(df,2)
print(bad_row)

number of bad rows: 4
[1 5 7 8]

In [8]:
del_row = np.union1d(missing_row_target,bad_row)
print(del_row)

[1 3 5 7 8]