## Data cleaning

In this section, we first see the data structure and identify data attributes. We then clean the data, including removing bad rows, bad attributes, imputing missing values, etc.

First of all, we import the necessary packages to the Jupyter notebook:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

We load the raw data.

In [3]:
df = pd.read_csv('heartattack.csv',sep= ',')

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,28,1,2,130,132,0,2,185,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29,1,2,120,243,0,0,160,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29,1,2,140,?,0,0,170,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30,0,1,170,237,0,1,170,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31,0,2,100,219,0,1,150,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The dependent variable is `num`, the resultant classification for heartattack patients in the study.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Columns: 256 entries, age to Unnamed: 255
dtypes: float64(243), int64(4), object(9)
memory usage: 588.1+ KB

To clearn the data, we first replace the empty value by `nan`.

In [6]:
# replace empty by nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,28,1,2,130,132,0,2,185,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29,1,2,120,243,0,0,160,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29,1,2,140,?,0,0,170,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30,0,1,170,237,0,1,170,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31,0,2,100,219,0,1,150,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,32,0,2,105,198,0,0,165,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,32,1,2,110,225,0,0,184,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,32,1,2,125,254,0,0,155,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,33,1,3,120,298,0,0,185,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,34,0,2,130,161,0,0,190,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,34,1,2,150,214,0,1,168,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,34,1,2,98,220,0,0,150,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,35,0,1,120,160,0,1,185,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,35,0,4,140,167,0,0,150,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,35,1,2,120,308,0,2,180,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,35,1,2,150,264,0,0,168,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,36,1,2,120,166,0,0,180,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,36,1,3,112,340,0,0,184,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,36,1,3,130,209,0,0,178,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,36,1,3,150,160,0,0,172,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,37,0,2,120,260,0,0,130,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,37,0,3,130,211,0,0,142,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,37,0,4,130,173,0,1,184,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,37,1,2,130,283,0,1,98,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,37,1,3,130,194,0,0,150,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,37,1,4,120,223,0,0,168,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,37,1,4,130,315,0,0,158,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,38,0,2,120,275,?,0,129,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,38,1,2,140,297,0,0,150,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,38,1,3,145,292,0,0,130,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,52,1,4,160,246,0,1,82,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,53,1,3,145,518,0,0,130,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,53,1,4,180,285,0,1,120,1,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,54,1,4,140,216,0,0,105,0,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,55,1,1,140,295,0,?,136,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,55,1,2,160,292,1,0,143,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,55,1,4,145,248,0,0,96,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,56,0,2,120,279,0,0,150,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,56,1,4,150,230,0,1,124,1,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,56,1,4,170,388,0,1,122,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,58,1,2,136,164,0,1,99,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,59,1,4,130,?,0,0,125,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,59,1,4,140,264,1,2,119,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,65,1,4,170,263,1,0,112,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,66,1,4,140,?,0,0,94,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,41,1,4,120,336,0,0,118,1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,43,1,4,140,288,0,0,135,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,44,1,4,135,491,0,0,135,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,47,0,4,120,205,0,0,98,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,47,1,4,160,291,0,1,158,1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,49,1,4,128,212,0,0,96,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,49,1,4,150,222,0,0,122,0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,50,1,4,140,231,0,1,140,1,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,50,1,4,140,341,0,1,125,1,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,52,1,4,140,266,0,0,134,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,52,1,4,160,331,0,0,94,1,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,54,0,3,130,294,0,1,100,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,56,1,4,155,342,1,0,150,1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,58,0,2,180,393,0,0,110,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,65,1,4,130,275,0,1,115,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Columns: 256 entries, age to Unnamed: 255
dtypes: float64(243), int64(4), object(9)
memory usage: 588.1+ KB

We find bad rows which contain too many missing values, then remove them.

In [8]:
# find bad rows having too many missing values
n_null = np.array(df.isnull().sum(axis=1))
bad_row = np.array([])
for t in range(len(n_null)):
    if n_null[t] > 10:
        #print(t)
        bad_row = np.append(bad_row,t)
        
print(bad_row)
print(len(bad_row))

# delete bad rows
df = df.drop(bad_row)
df.info()

[  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.
  14.  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.
  28.  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.
  42.  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.
  56.  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.
  70.  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.
  84.  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.
  98.  99. 100. 101. 102. 103. 104. 105. 106. 107. 108. 109. 110. 111.
 112. 113. 114. 115. 116. 117. 118. 119. 120. 121. 122. 123. 124. 125.
 126. 127. 128. 129. 130. 131. 132. 133. 134. 135. 136. 137. 138. 139.
 140. 141. 142. 143. 144. 145. 146. 147. 148. 149. 150. 151. 152. 153.
 154. 155. 156. 157. 158. 159. 160. 161. 162. 163. 164. 165. 166. 167.
 168. 169. 170. 171. 172. 173. 174. 175. 176. 177. 178. 179. 180. 181.
 182. 183. 184. 185. 186. 187. 188. 189. 190. 191. 192. 193. 194. 195.
 196. 197. 198. 199. 200. 201. 202. 203. 204. 205. 206. 207. 208. 209.
 210. 211. 212. 213. 214. 215. 216. 217. 218. 219. 220. 221. 222. 223.
 224. 225. 226. 227. 228. 229. 230. 231. 232. 233. 234. 235. 236. 237.
 238. 239. 240. 241. 242. 243. 244. 245. 246. 247. 248. 249. 250. 251.
 252. 253. 254. 255. 256. 257. 258. 259. 260. 261. 262. 263. 264. 265.
 266. 267. 268. 269. 270. 271. 272. 273. 274. 275. 276. 277. 278. 279.
 280. 281. 282. 283. 284. 285. 286. 287. 288. 289. 290. 291. 292. 293.]
294
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Columns: 256 entries, age to Unnamed: 255
dtypes: float64(243), int64(4), object(9)
memory usage: 0.0+ bytes

The data still contain errors, such as `\t`, ` `, `\?`. We will delete `\t` and ` ` and convert `\?` to `np.nan`.

In [9]:
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?','np.nan',regex=True)

For convenience, we separate independents `X` and dependent `y` from the data.

In [14]:
X = df.drop('num ',axis=1)
y = df['num ']

KeyError: "['num '] not found in axis"

In [12]:
x1 = np.array(X)
x1

array([[ 2. , 10.4,  6.3, ...,  0. ,  1. ,  1. ],
       [ 2. , 83.8, 27.1, ...,  0. ,  1. ,  1. ],
       [ 2. , 63.3, 51.4, ...,  0. ,  1. ,  1. ],
       ...,
       [ 2. , 38.4,  nan, ...,  0. ,  2. ,  1. ],
       [ 2. , 68.1, 79.2, ...,  1. ,  1. ,  1. ],
       [ 2. ,  4. ,  1.5, ...,  0. ,  1. ,  1. ]])

We determine and drop the variables with excessive missing values from the dataset.

In [13]:
i_missing = []
for i in range(x1.shape[1]):
    n_missing = np.sum(np.isnan(x1[:,i]))
    if n_missing > 5:
        print(i,n_missing)
        i_missing.append(i)    
print(i_missing)

2 6
3 10
4 13
5 7
6 17
7 10
8 13
9 13
10 22
15 20
16 20
17 6
24 138
31 96
34 138
35 138
36 138
37 138
[2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 17, 24, 31, 34, 35, 36, 37]

In [14]:
x2 = np.delete(x1,i_missing,axis=1)
x2.shape

(138, 29)

We impute the missing value of X at each column by its median value.

In [15]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):
    def __init__(self):
        """Impute missing values.
        - Columns of dtype object are imputed with the most frequent value in column.
        - Columns of other types are imputed with mean of column.
        """
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            # numerical --> mean, categorical --> median
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)  
                               
            # numerical, categorical --> median                   
            #if X[c].dtype == np.dtype('O') else X[c].median() for c in X], index=X.columns)
        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [16]:
X = DataFrameImputer().fit_transform(X)

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 91 to 240
Data columns (total 47 columns):
Site                     138 non-null float64
SAincl                   138 non-null float64
SA2                      138 non-null float64
SA4                      138 non-null float64
SA6                      138 non-null float64
SA8                      138 non-null float64
SA10                     138 non-null float64
SA12                     138 non-null float64
SA1416                   138 non-null float64
SA2120                   138 non-null float64
SA2728                   138 non-null float64
studyarm                 138 non-null float64
sexe                     138 non-null float64
age                      138 non-null int64
lesionsince              138 non-null float64
BPSYST                   138 non-null float64
BPDIAST                  138 non-null float64
pulserateinclbeatsmin    138 non-null float64
tempinclCelsius          138 non-null float64
bodyweightinclkg         138 non-null int64
bodyheightinclcm         138 non-null float64
WHOCat                   138 non-null float64
stageincllesion          138 non-null int64
oedemaincl               138 non-null int64
lesnumbincl              0 non-null float64
Sitelesion               138 non-null float64
Hb                       138 non-null float64
WBC                      138 non-null float64
creatin                  138 non-null float64
HIV                      138 non-null float64
Drug                     138 non-null float64
WeekParadox3             138 non-null float64
Paradox2                 138 non-null float64
WeekParadox5             138 non-null float64
PulsePara3               0 non-null float64
TempPara3                0 non-null float64
PulsePara5               0 non-null float64
TempPara5                0 non-null float64
VitD                     138 non-null float64
VitD3Groups              138 non-null float64
ThreeUTR                 138 non-null float64
ThreeUTRvar              138 non-null float64
INT4                     138 non-null float64
INT4var                  138 non-null float64
D543                     138 non-null float64
Callele                  138 non-null float64
Callelevar               138 non-null float64
dtypes: float64(43), int64(4)
memory usage: 51.8 KB

Now, the data are completely clean. We convert attributes `X` and target `y` to numpy arrays and save them to files.

In [18]:
X = np.array(X)
y = np.array(y)
Xy = np.hstack((X,y[:,np.newaxis]))

np.savetxt('heartattack_cleaned.dat',Xy,fmt='%s')