In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv("stigma.csv")
df.head()

,ID,Y1,Y2,Y3,Y4,C01,C02,C03,C04,C05,...,X1,X2,X3,X4,X5,X6,X7,X8,X9,Unnamed: 38
0,1,1,0,1,0,0,0,0,1,0,...,1,1,1,0,1,0,0,1,0,NaN
1,2,0,0,1,1,1,1,1,1,1,...,1,0,1,1,1,0,0,1,0,NaN
2,4,1,1,1,0,0,1,0,1,1,...,0,0,1,1,1,0,0,1,0,NaN
3,5,0,0,0,0,1,1,1,1,1,...,1,0,1,1,0,0,1,1,1,NaN
4,6,0,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,0,1,1,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10665 entries, 0 to 10664
Data columns (total 39 columns):
ID             10665 non-null object
Y1             10665 non-null int64
Y2             10665 non-null int64
Y3             10665 non-null int64
Y4             10665 non-null int64
C01            10665 non-null int64
C02            10665 non-null int64
C03            10665 non-null int64
C04            10665 non-null int64
C05            10665 non-null int64
C06            10665 non-null int64
C07            10665 non-null int64
C08            10665 non-null int64
C09            10665 non-null int64
C10            10665 non-null int64
C11            10665 non-null int64
C12            10665 non-null int64
C13            10665 non-null int64
C14            10665 non-null int64
C15            10665 non-null int64
C16            10665 non-null int64
C17            10665 non-null int64
C18            10665 non-null int64
C19            10665 non-null int64
C20            10665 non-null int64
C21            10665 non-null int64
C22            10665 non-null int64
C23            10665 non-null int64
C24            10665 non-null int64
X1             10665 non-null int64
X2             10665 non-null int64
X3             10665 non-null int64
X4             10665 non-null int64
X5             10665 non-null int64
X6             10665 non-null int64
X7             10665 non-null int64
X8             10665 non-null int64
X9             10665 non-null int64
Unnamed: 38    0 non-null float64
dtypes: float64(1), int64(37), object(1)
memory usage: 3.2+ MB

## Data Cleaning

In [5]:
target = 'Y1'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
df = df.replace('#NULL!',np.nan,regex=True)

#df

### Remove outliers

In [7]:
# Drop the column outliers as it is unrelated to the dependent variable
outliers = ['ID','Unnamed: 38']
df = df.drop(outliers,axis=1)
df.head()

,Y1,Y2,Y3,Y4,C01,C02,C03,C04,C05,C06,...,C24,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,1,0,1,0,0,0,0,1,0,1,...,1,1,1,1,0,1,0,0,1,0
1,0,0,1,1,1,1,1,1,1,1,...,0,1,0,1,1,1,0,0,1,0
2,1,1,1,0,0,1,0,1,1,0,...,1,0,0,1,1,1,0,0,1,0
3,0,0,0,0,1,1,1,1,1,1,...,1,1,0,1,1,0,0,1,1,1
4,0,1,1,1,1,1,1,1,1,1,...,1,0,0,1,0,0,0,0,1,1

### Remove bad columns

In [8]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [9]:
df = remove_bad_columns(df,10)
df.info()

number of bad columns: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10665 entries, 0 to 10664
Data columns (total 37 columns):
Y1     10665 non-null int64
Y2     10665 non-null int64
Y3     10665 non-null int64
Y4     10665 non-null int64
C01    10665 non-null int64
C02    10665 non-null int64
C03    10665 non-null int64
C04    10665 non-null int64
C05    10665 non-null int64
C06    10665 non-null int64
C07    10665 non-null int64
C08    10665 non-null int64
C09    10665 non-null int64
C10    10665 non-null int64
C11    10665 non-null int64
C12    10665 non-null int64
C13    10665 non-null int64
C14    10665 non-null int64
C15    10665 non-null int64
C16    10665 non-null int64
C17    10665 non-null int64
C18    10665 non-null int64
C19    10665 non-null int64
C20    10665 non-null int64
C21    10665 non-null int64
C22    10665 non-null int64
C23    10665 non-null int64
C24    10665 non-null int64
X1     10665 non-null int64
X2     10665 non-null int64
X3     10665 non-null int64
X4     10665 non-null int64
X5     10665 non-null int64
X6     10665 non-null int64
X7     10665 non-null int64
X8     10665 non-null int64
X9     10665 non-null int64
dtypes: int64(37)
memory usage: 3.0 MB

### Remove bad rows

In [10]:
 # Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [11]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
0

We find bad rows which contain too many missing values, then remove them.

In [12]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [13]:
bad_rows = find_bad_rows(df,3)
df.info()

number of bad rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10665 entries, 0 to 10664
Data columns (total 37 columns):
Y1     10665 non-null int64
Y2     10665 non-null int64
Y3     10665 non-null int64
Y4     10665 non-null int64
C01    10665 non-null int64
C02    10665 non-null int64
C03    10665 non-null int64
C04    10665 non-null int64
C05    10665 non-null int64
C06    10665 non-null int64
C07    10665 non-null int64
C08    10665 non-null int64
C09    10665 non-null int64
C10    10665 non-null int64
C11    10665 non-null int64
C12    10665 non-null int64
C13    10665 non-null int64
C14    10665 non-null int64
C15    10665 non-null int64
C16    10665 non-null int64
C17    10665 non-null int64
C18    10665 non-null int64
C19    10665 non-null int64
C20    10665 non-null int64
C21    10665 non-null int64
C22    10665 non-null int64
C23    10665 non-null int64
C24    10665 non-null int64
X1     10665 non-null int64
X2     10665 non-null int64
X3     10665 non-null int64
X4     10665 non-null int64
X5     10665 non-null int64
X6     10665 non-null int64
X7     10665 non-null int64
X8     10665 non-null int64
X9     10665 non-null int64
dtypes: int64(37)
memory usage: 3.0 MB

In [14]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 0

### Separate target and attributes

In [15]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [16]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [17]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [18]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
i_category: []
variable type: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

### Impute missing values of attributes

In [19]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            df2[col] = df[col].fillna(df[col].median())    
    return df2

In [20]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10665 entries, 0 to 10664
Data columns (total 36 columns):
Y2     10665 non-null int64
Y3     10665 non-null int64
Y4     10665 non-null int64
C01    10665 non-null int64
C02    10665 non-null int64
C03    10665 non-null int64
C04    10665 non-null int64
C05    10665 non-null int64
C06    10665 non-null int64
C07    10665 non-null int64
C08    10665 non-null int64
C09    10665 non-null int64
C10    10665 non-null int64
C11    10665 non-null int64
C12    10665 non-null int64
C13    10665 non-null int64
C14    10665 non-null int64
C15    10665 non-null int64
C16    10665 non-null int64
C17    10665 non-null int64
C18    10665 non-null int64
C19    10665 non-null int64
C20    10665 non-null int64
C21    10665 non-null int64
C22    10665 non-null int64
C23    10665 non-null int64
C24    10665 non-null int64
X1     10665 non-null int64
X2     10665 non-null int64
X3     10665 non-null int64
X4     10665 non-null int64
X5     10665 non-null int64
X6     10665 non-null int64
X7     10665 non-null int64
X8     10665 non-null int64
X9     10665 non-null int64
dtypes: int64(36)
memory usage: 3.0 MB

## Data Processing

### Attributes

In [21]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [22]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(10665, 36)
[[-1.  1. -1. ... -1.  1. -1.]
 [-1.  1.  1. ... -1.  1. -1.]
 [ 1.  1. -1. ... -1.  1. -1.]
 ...
 [ 1.  1.  1. ... -1.  1.  1.]
 [ 1. -1. -1. ... -1. -1. -1.]
 [ 1.  1. -1. ... -1.  1. -1.]]

### Target

In [23]:
y = np.array(dfy)
#print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
y_new = y
#y_new = np.ones(y.shape[0])
#y_new[y =='No'] = 0

print(np.unique(y_new,return_counts=True))

(array([0, 1]), array([2725, 7940]))

In [24]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('data_processed.dat',xy_new,fmt='%f')